<div class="projects-grid-container">
    <app-carousel-wrapper title="projects" position="top"></app-carousel-wrapper>
    <div class="projects">
        @for (project of projects; track project) {
            @if (project.grid) {
                @if (project.title !== 'center') {
                    <div class="project">
                        <img [src]="project.image">
                        <div class="caption">
                            <h3>{{ project.title }}</h3>
                            <h4>{{ project.technologies }}</h4>
                        </div>
                        <a [href]="project.url" [target]="project.target" data-no-blobity></a>
                    </div>
                } @else if (screenWidth >= 576 && screenWidth < 992) {
                    <img [src]="project.image" class="center">
                }
            }
        }
    </div>
    <app-carousel-wrapper title="projects" position="bottom"></app-carousel-wrapper>
</div>