<div class="projects-grid-container">
    <div class="carousel-wrapper top">
        @for (_ of [].constructor(10); track _) {
            <div class="header">Projects
                <div class="spacer"> - </div>
            </div>
        }
    </div>
    <div class="projects">
        @for (project of projects; track project) {
            @if (project.title !== 'center') {
                <div class="project">
                    <img [src]="project.image">
                    <div class="caption">
                        <h3>{{ project.title }}</h3>
                        <h4>{{ project.technologies }}</h4>
                    </div>
                    <a [href]="project.url" [target]="project.target" data-no-blobity></a>
                </div>
            } @else if (screenWidth >= 576 && screenWidth < 992) {
                <img [src]="project.image" class="center">
            }
        }
    </div>
    <div class="carousel-wrapper bottom">
        @for (_ of [].constructor(10); track _) {
            <div class="header">Projects
                <div class="spacer"> - </div>
            </div>
        }
    </div>
</div>