.contact-container {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    max-height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    border-top: 2px solid #E0FFFF;
    background-color: #10101a;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    align-items: center;
    height: 100%;
    margin-top: 2vh;
    gap: 3vh;
}

.title {
    position: relative;
    display: flex;
    z-index: 1;
    font-family: epyval;
    font-size: 24vw;
    color: #FF00FF;
}

.title>div {
    background-image: linear-gradient(135deg, #E0FFFF 20%, #FF00FF);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    clip-path: inset(1px);
}

.information {
    text-align: center;
    width: 90vw;
    font-size: 5.5vw;
    color: #E0FFFF;
}

.email {
    text-wrap: nowrap;
    font-size: 4vw;
    mat-icon {
        transform: scale(1.5);
    }
}

.links {
    position: absolute;
    display: flex;
    width: calc(100% - 1rem);
    gap: 1rem;
    left: 1rem;
    margin-top: calc(100vh - 3rem);
    img {
        width: 2rem;
        height: auto;
        fill: white;
    }
}

.handset-landscape {
    .content {
        margin-top: 0;
    }
    .title {
        font-size: 13vw;
    }
    .information {
        font-size: 3vw;
    }
    .email {
        font-size: 2.5vw;
    }
}

.small {
    .title{
        font-size: 22vw;
    }
    .content {
        gap: 2vh;
    }
    .information {
        font-size: 4.75vw;
    }
    .email {
        font-size: 3vw;
    }
    .links {
    margin-top: calc(100vh - 3.5rem);
    img {
            width: 2.5rem;
        }
    }
}

.medium {
    .content {
        margin-top: 0;
    }
    .title {
        font-size: 17vw;
    }
    .information {
        font-size: 3.75vw;
    }
    .email {
        font-size: 2.75vw;
    }
    .links {
        margin-top: calc(100vh - 3.5rem);
        img {
                width: 2.5rem;
            }
        }
}