<div class="contact-container">
    <div class="content">
        <div class="title">
            <div>C</div>
            <div>o</div>
            <div>n</div>
            <div>t</div>
            <div>a</div>
            <div>c</div>
            <div>t</div>
        </div>
        <div class="information">
            Interested in what I do?
            <br>
            Reach out and let's make magic happen.
        </div>
        <button mat-raised-button>Get in touch</button>
    </div>
</div>