.contact-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background: white;
    background-image: linear-gradient(to bottom, rgba(47, 79, 79, 0.4), rgba(71, 61, 139, 0.9));
    z-index: -2;
}

.visible-container {
    height: 80vh;
    overflow: scroll;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.content {
    position: relative;
    display: flex;
    justify-content: left;
    width: 100vw;
}

ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 0.2em;
    padding-left: 0.2em;
}

ul li {
    list-style: none;
}

ul li a {
    position: relative;
    overflow: hidden;
    display: block;
    text-align: center;
    width: 10vw;
    height: 10vw;
    line-height: 10vw;
    font-size: 5vw;
    margin: 0 0.5vw;
    border-radius: 50%;
    border: 3px solid #fff;
    background-color: #fff;
    z-index: 1;
}

ul li a .icon {
  position: relative;
  color: #262626;
  transition: .5s;
  z-index: 3;
}

ul li a:hover .icon {
  color: #fff;
  transform: rotateY(360deg);
}

ul li a:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--social-color);
  transition: .5s;
  z-index: 2;
}

ul li a:hover:before {
  top: 0;
}

.copyright {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0.5em 1em;
    color: white;
}

@media (max-height: 576px) {
    ul li a {
        width: 6vw;
        height: 6vw;
        line-height: 6vw;
        font-size: 3vw;
        margin: 0 0.5vw;
    }
}

@media (min-width: 992px) {
    ul {
        display: flex;
    }

    ul li a {
        width: 6vw;
        height: 6vw;
        line-height: 6vw;
        font-size: 3vw;
        margin: 0 0.5vw;
    }
}
