.contact-container {
    width: 100vw;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    background-color: #10101a;
    border-top: 2px solid #E0FFFF;
    display: flex;
    justify-content: center;
}

.content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    align-items: center;
    gap: 1rem;
}

.title {
    position: relative;
    display: flex;
    font-family: epyval;
    color: #FF00FF;
    z-index: 1;
    height: calc(10px + (200 - 15) * ((100vw - 50px) / (2000 - 50)));
    font-size: calc(10px + (200 - 15) * ((100vw - 50px) / (2000 - 50)));
}

.title>div {
    background-image: linear-gradient(135deg, #E0FFFF 20%, #FF00FF);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    clip-path: inset(1px);
}

.information {
    text-align: center;
    font-size: calc(10px + (50 - 5) * ((100vw - 50px) / (2000 - 50)));
    color: #E0FFFF;
    margin-top: 1rem;
}

.email {
    mat-icon {
        transform: scale(1.5);
    }
    font-size: calc(5px + (25 - 5) * ((100vw - 50px) / (2000 - 50)));
}

.links {
    width: 100%;
    position: absolute;
    left: 1rem;
    margin-top: calc(100vh - 3rem);
    display: flex;
    gap: 1rem;
    img {
        width: 2rem;
        height: auto;
        fill: white;
    }
}