<div class="contact-container">
    <div class="content">
        <div class="title">
            <div *ngFor="let char of title.split('')">{{ char }}</div>
        </div>
        <div class="information">
            {{ 'CONTACT.INFO_LINE' | translate }}
            <br>
            {{ 'CONTACT.INFO_SUBLINE' | translate }}
        </div>
        <button mat-raised-button class="email" style="background: radial-gradient(#E8BFFF 25%, #F080FF)" (click)="sendEmail()">
            <mat-icon>email</mat-icon>
            &nbsp;{{ 'CONTACT.MAIL' | translate }}
        </button>
    </div>
    <div class="links">
        <a href="https://github.com/marcelnoehre" target="_blank"><img src="./assets/images/icons/github.svg" alt="github"></a>
        <a href="https://www.linkedin.com/in/marcel-nöhre-155377235/" target="_blank"><img src="./assets/images/icons/linkedin.svg" alt="linkedin"></a>
    </div>
</div>