@import 'animations/bounce.css';
@import 'animations/fade.css';
@import 'animations/move.css';
@font-face {
    font-family: epyval;
    src: url('/assets/fonts/Epyval.ttf');
}

.starting-page-container {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    background-color: black;
    overflow: hidden;
}

.title-name {
    position: absolute;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 10rem;
    font-size: 10rem;
    line-height: 10rem;
    font-family: epyval;
    color: #FF00FF;
    animation: moveTitle 1.25s 2.75s ease-in-out forwards;
}

.title-name>div {
    opacity: 0;
}

.description {
    margin-top: 35%;
    margin-left: 135%;
    margin-right: 109%;
    filter: blur(1rem);
    animation: moveDescription 2.5s 3s ease-in-out forwards;
}

.full-stack {
    font-size: 6rem;
    font-family: epyval;
    white-space: nowrap;
    background-color: white;
    color: black;
    transform: skew(-35deg);
    padding-left: 2%;
    padding-right: 2%;
}

.programming-languages {
    display: flex;
    justify-content: right;
    font-size: 4rem;
    font-family: epyval;
    margin-top: 2.5%;
    margin-right: 11%;
}

.programming-languages>div {
    background-color: white;
    color: black;
    padding: 1%;
    padding-left: 2%;
    padding-right: 2%;
    transform: skew(-35deg);
}

.angular {
    margin-right: 5%;
}

.scroll-info {
    position: absolute;
    display: flex;
    bottom: 0;
    margin: 1rem;
    font-size: 2rem;
    font-family: epyval;
    color: aqua;
    opacity: 0;
    transform: translateY(1rem);
    animation: fadeScrollInfo 3s ease 7.5s forwards;
}

.remove-scroll-info {
    position: absolute;
    display: flex;
    bottom: 0;
    margin: 1rem;
    font-size: 2rem;
    font-family: epyval;
    color: aqua;
    opacity: 1;
    animation: removeScrollInfo 1s ease-in-out forwards;
}