<div class="starting-page-container">
    <div class="title-name">
        <div>M</div>
        <div>a</div>
        <div>r</div>
        <div>c</div>
        <div>e</div>
        <div>l</div>
        <div>&nbsp;</div>
        <div>N</div>
        <div>ö</div>
        <div>h</div>
        <div>r</div>
        <div>e</div>
    </div>
    <div class="description">
        <div class="full-stack">Full-Stack Developer&nbsp;</div>
        <div class="programming-languages">
            <div class="angular">Angular</div>
            <div class="java">Java</div>
        </div>
    </div>
    <div *ngIf="!scrolled" class="scroll-info">
        <span>&#8595;&nbsp;</span>
        <span>S</span>
        <span>c</span>
        <span>r</span>
        <span>o</span>
        <span>l</span>
        <span>l</span>
        <span>&nbsp;</span>
        <span>D</span>
        <span>o</span>
        <span>w</span>
        <span>n</span>
        <span>&nbsp;&#8595;</span>
    </div>
    <div *ngIf="scrolled" class="remove-scroll-info">
        <span>&#8595;&nbsp;</span>
        <span>S</span>
        <span>c</span>
        <span>r</span>
        <span>o</span>
        <span>l</span>
        <span>l</span>
        <span>&nbsp;</span>
        <span>D</span>
        <span>o</span>
        <span>w</span>
        <span>n</span>
        <span>&nbsp;&#8595;</span>
    </div>
</div>