.container {
    position: relative;
    display: flex;
    justify-content: center;
    height: 80vh;
    width: 100vw;
    background: transparent;
}

.card {
    position: fixed;
    top: 12.25vh;
    height: 75vh;
    perspective: 50%;
    transform-style: preserve-3d;
    transform: rotateX(var(--card-degree)) rotateY(var(--card-degree)) scale(var(--card-scale));
    opacity: var(--card-fade);
    will-change: transform, opacity;

    background-image: linear-gradient(135deg, mediumslateblue 0%, rgba(123, 104, 238, 0.85) 40%, rgba(72, 61, 139, 0.9) 100%);
    box-shadow: mediumslateblue 0 0 1.5em;
}

@media (min-width: 992px) {
    .card {
        min-width: 80vw;
    }
}

@media (max-width: 576px) {
}

@media (max-height: 576px) {
    .card {
        height: 75vh;
    }
}