.container {
    position: relative;
    display: flex;
    justify-content: center;
    height: 80vh;
    width: 100vw;
    background: transparent;
}


mat-card-content {
    perspective: 50%;
    position: relative;
    box-sizing: border-box;
    display: flex;
}

.card {
    position: fixed;
    top: 15vh;
    height: 60vh;
    perspective: 50%;
    transform-style: preserve-3d;
    transform: rotateX(var(--card-degree)) rotateY(var(--card-degree)) scale(var(--card-scale));
    opacity: var(--card-fade);
    will-change: transform, opacity;

    background-image: linear-gradient(135deg, mediumslateblue 0%, rgba(123, 104, 238, 0.85) 40%, rgba(72, 61, 139, 0.9) 100%);
    box-shadow: mediumslateblue 0 0 1.5em;
}

.content {
    display: flex;
    transform-style: preserve-3d;

    img {
        height: calc(60vh - 2em);
        width: auto;
        object-fit: cover;
        display: block;
        transition: transform 0.5s;
        backface-visibility: hidden;
        border-radius: 5px;
    }
}

.flip-container {
    position: absolute;
    backface-visibility: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    transform: rotateY(180deg);
    transition: transform 0.5s;
}

.flip-img {
    transform: rotateY(180deg);
}

.flip {
    transform: rotateY(0deg);
}

.information {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 2em;

    h1, h2 {
        text-decoration: underline;
    }
}

.personal {
    display: flex;
    align-items: center;
    gap: 0.5em;
    margin-bottom: 0.5em;
}

.work {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 0.5em;
}

.link {
    display: flex;
    align-items: center;
    gap: 0.5em;

    mat-icon {
        color: white;
    }
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

@media (min-width: 576px) {
    .card {
        top: 12.5vh;
        height: 75vh;
    }

    img {
        height: calc(75vh - 2em) !important;
    }
}

@media (min-width: 992px) {
    .information {
        padding: 2em 3em;
    }
}

@media (max-height: 576px) {
    .card {
        top: 12.5vh;
        height: 75vh;
    }

    img {
        height: calc(75vh - 2em);
    }
}