.projects-overview-container {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background: radial-gradient(farthest-corner at 0 0, #220022, #10101a);
    border-top: 2px solid white;
}