<div class="projects-overview-container">
    <div class="project-cards">
        <mat-card style="margin-top: 10%;" (click)="viewProject('/rl-overlay')">
            <img src="assets/images/projects/rl-overlay.png" alt="Rocket League - Overlay">
            <br><br>
            <div class="name">Rocket League Overlay</div>
        </mat-card>
        <mat-card style="margin-bottom: 10%;">
            <img src="assets/images/projects/rl-overlay.png" alt="Rocket League - Overlay">
            <br><br>
            <div class="name">Coming Soon</div>
        </mat-card>
    </div>
</div>