<div class="projects-overview-container">
    <div class="title">
        <div>P</div>
        <div>r</div>
        <div>o</div>
        <div>j</div>
        <div>e</div>
        <div>c</div>
        <div>t</div>
        <div>s</div>
    </div>
    <div class="projects">
        <mat-card>
            <mat-card-title-group>
                <mat-card-title>
                    Swagger 4 AAS
                </mat-card-title>
                <div class="content">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sagittis tincidunt semper. Donec eu erat malesuada, consequat arcu et, sollicitudin nisi. Sed id volutpat lorem. Ut sit amet fringilla arcu. Nunc condimentum viverra metus, sed facilisis
                        nisi hendrerit at. Vivamus ut tellus quis metus lacinia cursus vel sit amet orci. Cras eu ligula lobortis, pulvinar mi eu, iaculis enim. Donec varius felis quis mi tinc
                    </p>
                    <div class="actions">
                        <button mat-raised-button color="accent">
                            View
                        </button>
                    </div>
                </div>
            </mat-card-title-group>



        </mat-card>
    </div>
</div>