.projects-overview-container {
    width: 100vw;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    background-color: #10101a;
    border-top: 2px solid #E0FFFF;
}

.title {
    position: absolute;
    display: flex;
    font-family: epyval;
    color: #FF00FF;
    z-index: 1;
    top: calc(10px + (100 - 10) * ((100vw - 50px) / (2000 - 50)));
    left: calc(10px + (100 - 10) * ((100vw - 50px) / (2000 - 50)));
    height: calc(15px + (150 - 15) * ((100vw - 50px) / (2000 - 50)));
    font-size: calc(10px + (125 - 10) * ((100vw - 50px) / (2000 - 50)));
    transform: translate(5%, 5%);
    margin-top: 100vh;
}

.title>div {
    background-image: linear-gradient(135deg, #E0FFFF 20%, #FF00FF);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}