<div class="projects-overview-container">
    <div class="slider">
        <div class="rotator">
            <div class="items">
                <img src="assets/images/projects/swagger-4-aas.png" alt="Swagger 4 AAS" />
            </div>
            <div class="items">
                <img src="assets/images/projects/rl-overlay.png" alt="Rocket League Overlay" />
            </div>
            <div class="items">
                <img src="assets/images/projects/mvb-website.png" alt="Musikverein Borsum - Website" />
            </div>
            <div class="items">
                <img src="assets/images/projects/cbr-minesweeper.png" alt="CBR based Minesweeper" />
            </div>
            <div class="items">
                <img src="assets/images/projects/nyc-taxi-analysis.png" alt="NYC Taxi Analysis" />
            </div>
        </div>
    </div>
</div>