* {
    min-width: 0;
}

.projects-overview-container {
    width: 100vw;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    padding-bottom: 1rem;
    border-top: 2px solid #E0FFFF;
    background-color: #10101a;
}

.title {
    position: absolute;
    display: flex;
    transform: translate(5%, 5%);
    top: 5vh;
    left: 5vw;
    z-index: 1;
    margin-top: 100vh;
    font-size: 13vw;
    font-family: epyval;
    color: #FF00FF;
}

.title>div {
    background-image: linear-gradient(135deg, #E0FFFF 20%, #FF00FF);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    clip-path: inset(1px);
}

.projects {
    margin-top: 16vh
}

.project-card {
    display: flex;
    width: 75vw;
    margin-bottom: 5vh;
    border-radius: 5px;
    background: radial-gradient(farthest-corner at 0 0, #E8BFFF 50%, #E0FFFF);
    p {
        overflow-wrap: break-word;
        margin-bottom: 0px;
    }
}

.project-title {
    display: flex;
    justify-content: center;
    text-orientation: mixed;
    text-align: center;
    writing-mode: vertical-rl;
    font-weight: bold;
    font-family: epyval;
    line-height: 5vw;
    font-size: 5.5vw;
    padding: 3.5vw 3.5vw;
}

.content {
    text-align: left;
    font-size: 4vw;
    .actions {
        display: flex;
        justify-content: center;
        padding: 16px 0;
    }
    .actions>button {
        font-size: 3.5vw;
    }
}

.left {
    margin-left: 7.5vw;
    .project-title {
        margin-left: 1rem;
    }
    .content {
        padding-right: 1rem;
    }
}

.right {
    transform: scaleX(-1);
    margin-left: 17.5vw;
    .content {
        transform: scaleX(-1);
        padding-left: 1rem;
    }
    .project-title {
        transform: scaleX(-1);
        margin-right: 1rem;
    }
}

.handset-landscape {
    .title {
        font-size: 8vw;
    }
    .projects {
        margin-top: calc(5vh + 13.5vw);
    }
    .project-card {
        width: 70vw;
        margin-bottom: 5vw;
    }
    .project-title {
        line-height: 0.5vw;
        font-size: 3vw;
    }
    .content {
        font-size: 2vw;
        text-align: justify;
        .actions>button {
            font-size: 2.25vw;
        }
    }
    .left {
        margin-left: 5vw;
        .project-title {
            margin-left: 0.5rem;
        }
    }
    .right {
        margin-left: 25vw;
        .project-title {
            margin-right: 0.5rem;
        }
    }
}

.small {
    .projects {
        margin-top: calc(5vh + 20vw);
    }
    .project-card {
        width: 65vw;
        margin-bottom: 5vw;
        p {
            padding: 0.5rem;
        }
    }
    .project-title {
        padding: 3vw 3vw;
        line-height: 2vw;
        font-size: 3.25vw;
    }
    .content {
        font-size: 2.375vw;
        text-align: justify;
        .actions>button {
            font-size: 2.5vw;
        }
    }
    .left {
        margin-left: 5vw;
        .project-title {
            margin-left: 2vw;
        }
    }
    .right {
        margin-left: 30vw;
        .project-title {
            margin-right: 2vw;
        }
    }
}

.medium {
    .title {
        font-size: 9vw;
    }
    .projects {
        margin-top: calc(5vh + 14.5vw);
    }
    .project-card {
        width: 65vw;
        margin-bottom: 5vw;
        p {
            padding: 0.5rem;
        }
    }
    .project-title {
        padding: 3vw 3vw;
        line-height: 0.5vw;
        font-size: 2.25vw;
    }
    .content {
        font-size: 1.9vw;
        text-align: justify;
        .actions>button {
            font-size: 1.9vw;
        }
    }
    .left {
        margin-left: 5vw;
        .project-title {
            margin-left: 0.5rem;
        }
    }
    .right {
        margin-left: 30vw;
        .project-title {
            margin-right: 0.5rem;
        }
    }
}