<div class="projects-overview-container" [ngClass]="responsiveClass">
    <div class="title">
        <div *ngFor="let char of title.split('')">{{ char }}</div>
    </div>
    <div class="projects">
        <ng-container *ngFor="let project of projects; let even = even">
            <div class="project-card" [class]="even ? 'left' : 'right'">
                <div class="project-title">
                    {{'PROJECTS.' + project.key + '.TITLE'|translate}}
                </div>
                <div class="content">
                    <p>
                        {{'PROJECTS.' + project.key + '.CONTENT'|translate}}
                    </p>
                    <div class="actions">
                        <button mat-raised-button color="transparent" (click)="viewProject(project.path)">
                            <mat-icon>visibility</mat-icon>
                            {{'PROJECTS.VIEW'|translate}}
                        </button>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</div>