.bouncing-animation-container {
    position: absolute;
    width: 100vw;
    max-width: 100%;
    left: 0;
    bottom: 1.5rem;
}

.bouncing-text {
    display: flex;
    justify-content: space-around;
}

.wordwrapper>div {
    padding-left: 6.5rem;
    display: flex;
    font-size: 2.5rem;
    opacity: 0;
    transform: translateY(1rem);
    animation: fadeInUp 3s ease 8s forwards;
}

span {
    color: white;
    text-shadow: 0 3px orange, 0 4px orange, 0 5px orange;
}

.de span:nth-child(1) {
    animation: bounce_de 5s ease infinite
}

.de span:nth-child(2) {
    animation: bounce_de 5s ease infinite 0.1s
}

.de span:nth-child(3) {
    animation: bounce_de 5s ease infinite 0.2s
}

.de span:nth-child(4) {
    animation: bounce_de 5s ease infinite 0.3s
}

.de span:nth-child(5) {
    animation: bounce_de 5s ease infinite 0.4s
}

.de span:nth-child(6) {
    animation: bounce_de 5s ease infinite 0.5s
}

.de span:nth-child(7) {
    animation: bounce_de 5s ease infinite 0.6s
}

.de span:nth-child(8) {
    animation: bounce_de 5s ease infinite 0.7s
}

.de span:nth-child(9) {
    animation: bounce_de 5s ease infinite 0.8s
}

.de span:nth-child(10) {
    animation: bounce_de 5s ease infinite 0.9s
}

.de span:nth-child(11) {
    animation: bounce_de 5s ease infinite 1s
}

.de span:nth-child(12) {
    animation: bounce_de 5s ease infinite 1.1s
}

.de span:nth-child(13) {
    animation: bounce_de 5s ease infinite 1.2s
}

.de span:nth-child(14) {
    animation: bounce_de 5s ease infinite 1.3s
}

.de span:nth-child(15) {
    animation: bounce_de 5s ease infinite 1.4s
}

.de span:nth-child(16) {
    animation: bounce_de 5s ease infinite 1.5s
}

.en span:nth-child(1) {
    animation: bounce_en 5s ease infinite
}

.en span:nth-child(2) {
    animation: bounce_en 5s ease infinite 0.1s
}

.en span:nth-child(3) {
    animation: bounce_en 5s ease infinite 0.2s
}

.en span:nth-child(4) {
    animation: bounce_en 5s ease infinite 0.3s
}

.en span:nth-child(5) {
    animation: bounce_en 5s ease infinite 0.4s
}

.en span:nth-child(6) {
    animation: bounce_en 5s ease infinite 0.5s
}

.en span:nth-child(7) {
    animation: bounce_en 5s ease infinite 0.6s
}

.en span:nth-child(9) {
    animation: bounce_en 5s ease infinite 0.7s
}

.en span:nth-child(10) {
    animation: bounce_en 5s ease infinite 0.8s
}

.en span:nth-child(11) {
    animation: bounce_en 5s ease infinite 0.9s
}

.en span:nth-child(12) {
    animation: bounce_en 5s ease infinite 1s
}

.en span:nth-child(13) {
    animation: bounce_en 5s ease infinite 1.1s
}

.fr span:nth-child(1) {
    animation: bounce_fr 5s ease infinite
}

.fr span:nth-child(2) {
    animation: bounce_fr 5s ease infinite 0.1s
}

.fr span:nth-child(3) {
    animation: bounce_fr 5s ease infinite 0.2s
}

.fr span:nth-child(4) {
    animation: bounce_fr 5s ease infinite 0.3s
}

.fr span:nth-child(5) {
    animation: bounce_fr 5s ease infinite 0.4s
}

.fr span:nth-child(6) {
    animation: bounce_fr 5s ease infinite 0.5s
}

.fr span:nth-child(7) {
    animation: bounce_fr 5s ease infinite 0.6s
}

.fr span:nth-child(8) {
    animation: bounce_fr 5s ease infinite 0.7s
}

.fr span:nth-child(10) {
    animation: bounce_fr 5s ease infinite 0.8s
}

.fr span:nth-child(11) {
    animation: bounce_fr 5s ease infinite 0.9s
}

.fr span:nth-child(12) {
    animation: bounce_fr 5s ease infinite 1s
}

.fr span:nth-child(13) {
    animation: bounce_fr 5s ease infinite 1.1s
}

.fr span:nth-child(15) {
    animation: bounce_fr 5s ease infinite 1.2s
}

.fr span:nth-child(16) {
    animation: bounce_fr 5s ease infinite 1.3s
}

.fr span:nth-child(18) {
    animation: bounce_fr 5s ease infinite 1.4s
}

.fr span:nth-child(19) {
    animation: bounce_fr 5s ease infinite 1.5s
}

.fr span:nth-child(20) {
    animation: bounce_fr 5s ease infinite 1.6s
}

.fr span:nth-child(21) {
    animation: bounce_fr 5s ease infinite 1.7s
}

.es span:nth-child(1) {
    animation: bounce_es 5s ease infinite
}

.es span:nth-child(2) {
    animation: bounce_es 5s ease infinite 0.1s
}

.es span:nth-child(3) {
    animation: bounce_es 5s ease infinite 0.2s
}

.es span:nth-child(4) {
    animation: bounce_es 5s ease infinite 0.3s
}

.es span:nth-child(5) {
    animation: bounce_es 5s ease infinite 0.4s
}

.es span:nth-child(6) {
    animation: bounce_es 5s ease infinite 0.5s
}

.es span:nth-child(7) {
    animation: bounce_es 5s ease infinite 0.6s
}

.es span:nth-child(8) {
    animation: bounce_es 5s ease infinite 0.7s
}

.es span:nth-child(9) {
    animation: bounce_es 5s ease infinite 0.8s
}

.es span:nth-child(10) {
    animation: bounce_es 5s ease infinite 0.9s
}

.es span:nth-child(11) {
    animation: bounce_es 5s ease infinite 1s
}

.es span:nth-child(13) {
    animation: bounce_es 5s ease infinite 1.1s
}

.es span:nth-child(14) {
    animation: bounce_es 5s ease infinite 1.2s
}

.es span:nth-child(15) {
    animation: bounce_es 5s ease infinite 1.3s
}

.es span:nth-child(16) {
    animation: bounce_es 5s ease infinite 1.4s
}

.es span:nth-child(17) {
    animation: bounce_es 5s ease infinite 1.5s
}

.es span:nth-child(19) {
    animation: bounce_es 5s ease infinite 1.6s
}

.es span:nth-child(20) {
    animation: bounce_es 5s ease infinite 1.7s
}

.es span:nth-child(21) {
    animation: bounce_es 5s ease infinite 1.8s
}

.es span:nth-child(22) {
    animation: bounce_es 5s ease infinite 1.9s
}

.es span:nth-child(23) {
    animation: bounce_es 5s ease infinite 2s
}

.es span:nth-child(24) {
    animation: bounce_es 5s ease infinite 2.1s
}

.it span:nth-child(1) {
    animation: bounce_it 5s ease infinite
}

.it span:nth-child(2) {
    animation: bounce_it 5s ease infinite 0.1s
}

.it span:nth-child(3) {
    animation: bounce_it 5s ease infinite 0.2s
}

.it span:nth-child(4) {
    animation: bounce_it 5s ease infinite 0.3s
}

.it span:nth-child(5) {
    animation: bounce_it 5s ease infinite 0.4s
}

.it span:nth-child(6) {
    animation: bounce_it 5s ease infinite 0.5s
}

.it span:nth-child(7) {
    animation: bounce_it 5s ease infinite 0.6s
}

.it span:nth-child(8) {
    animation: bounce_it 5s ease infinite 0.7s
}

.it span:nth-child(9) {
    animation: bounce_it 5s ease infinite 0.8s
}

.it span:nth-child(11) {
    animation: bounce_it 5s ease infinite 0.9s
}

.it span:nth-child(12) {
    animation: bounce_it 5s ease infinite 1s
}

.it span:nth-child(13) {
    animation: bounce_it 5s ease infinite 1.1s
}

.it span:nth-child(14) {
    animation: bounce_it 5s ease infinite 1.2s
}

.it span:nth-child(15) {
    animation: bounce_it 5s ease infinite 1.3s
}

.it span:nth-child(17) {
    animation: bounce_it 5s ease infinite 1.4s
}

.it span:nth-child(18) {
    animation: bounce_it 5s ease infinite 1.5s
}

.it span:nth-child(20) {
    animation: bounce_it 5s ease infinite 1.6s
}

.it span:nth-child(21) {
    animation: bounce_it 5s ease infinite 1.7s
}

.it span:nth-child(22) {
    animation: bounce_it 5s ease infinite 1.8s
}

.it span:nth-child(23) {
    animation: bounce_it 5s ease infinite 1.9s
}

.it span:nth-child(24) {
    animation: bounce_it 5s ease infinite 2s
}

.it span:nth-child(25) {
    animation: bounce_it 5s ease infinite 2.1s
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes bounce_de {
    0% {
        transform: scale(1, 1) translateY(0);
    }
    2% {
        transform: scale(1.1, .9) translateY(0);
    }
    6% {
        transform: scale(.9, 1.1) translateY(-55px);
    }
    10% {
        transform: scale(1.05, .95) translateY(0);
    }
    12% {
        transform: scale(1, 1) translateY(-7px);
    }
    13% {
        transform: scale(1, 1) translateY(0);
    }
    20% {
        transform: scale(1, 1) translateY(0);
    }
    100% {
        transform: scale(1, 1) translateY(0);
    }
}

@keyframes bounce_en {
    0% {
        transform: scale(1, 1) translateY(0);
    }
    2% {
        transform: scale(1.1, .9) translateY(0);
    }
    6% {
        transform: scale(.9, 1.1) translateY(-55px);
    }
    10% {
        transform: scale(1.05, .95) translateY(0);
    }
    12% {
        transform: scale(1, 1) translateY(-7px);
    }
    13% {
        transform: scale(1, 1) translateY(0);
    }
    20% {
        transform: scale(1, 1) translateY(0);
    }
    100% {
        transform: scale(1, 1) translateY(0);
    }
}

@keyframes bounce_fr {
    0% {
        transform: scale(1, 1) translateY(0);
    }
    2% {
        transform: scale(1.1, .9) translateY(0);
    }
    6% {
        transform: scale(.9, 1.1) translateY(-55px);
    }
    10% {
        transform: scale(1.05, .95) translateY(0);
    }
    12% {
        transform: scale(1, 1) translateY(-7px);
    }
    13% {
        transform: scale(1, 1) translateY(0);
    }
    20% {
        transform: scale(1, 1) translateY(0);
    }
    100% {
        transform: scale(1, 1) translateY(0);
    }
}

@keyframes bounce_es {
    0% {
        transform: scale(1, 1) translateY(0);
    }
    2% {
        transform: scale(1.1, .9) translateY(0);
    }
    6% {
        transform: scale(.9, 1.1) translateY(-55px);
    }
    10% {
        transform: scale(1.05, .95) translateY(0);
    }
    12% {
        transform: scale(1, 1) translateY(-7px);
    }
    13% {
        transform: scale(1, 1) translateY(0);
    }
    20% {
        transform: scale(1, 1) translateY(0);
    }
    100% {
        transform: scale(1, 1) translateY(0);
    }
}

@keyframes bounce_it {
    0% {
        transform: scale(1, 1) translateY(0);
    }
    2% {
        transform: scale(1.1, .9) translateY(0);
    }
    6% {
        transform: scale(.9, 1.1) translateY(-55px);
    }
    10% {
        transform: scale(1.05, .95) translateY(0);
    }
    12% {
        transform: scale(1, 1) translateY(-7px);
    }
    13% {
        transform: scale(1, 1) translateY(0);
    }
    20% {
        transform: scale(1, 1) translateY(0);
    }
    100% {
        transform: scale(1, 1) translateY(0);
    }
}