@import "../../../../src/styles/bouncer/de.scss";
@import "../../../../src/styles/bouncer/en.scss";
@import "../../../../src/styles/bouncer/fr.scss";
@import "../../../../src/styles/bouncer/es.scss";
@import "../../../../src/styles/bouncer/it.scss";
.bouncing-animation-container {
    position: absolute;
    width: 100vw;
    max-width: 100%;
    left: 0;
    bottom: 1.5rem;
}

.bouncing-text {
    display: flex;
    justify-content: space-around;
}

.wordwrapper>div {
    padding-left: 6.5rem;
    display: flex;
    font-size: 2.5rem;
    opacity: 0;
    transform: translateY(1rem);
    animation: fadeInUp 3s ease 8s forwards;
}

span {
    color: white;
    text-shadow: 0 3px orange, 0 4px orange, 0 5px orange;
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 1300px) {
    .wordwrapper>div {
        padding-left: 0;
    }
}