.title-name {
    will-change: auto;
    animation: moveTitle 1s 2s ease-in-out forwards;
}

.description {
    will-change: auto;
    animation: moveDescription 2s 2.5s ease-in-out forwards;
}

.handset-landscape {
    .title-name {
        animation: moveTitleHandscape 1s 2s ease-in-out forwards;
    }
    .description {
        animation: moveDescriptionHandscape 2s 2.5s ease-in-out forwards;
    }
}

.medium {
    .title-name {
        animation:  moveTitleMedium 2s 2.5s ease-in-out forwards;
    }
    .description {
        animation: moveDescriptionMedium 2s 2.5s ease-in-out forwards;
    }
}

.large {
    .title-name {
        animation: moveTitleLarge 1.25s 2.5s ease-in-out forwards;
    }
    .description {
        animation: moveDescriptionLarge 2s 2.5s ease-in-out forwards;
    }
}

@keyframes moveTitle {
    0% {
        filter: blur(0);
    }
    25% {
        filter: blur(0.2rem);
    }
    90% {
        filter: blur(0.1rem);
    }
    100% {
        /* TODO: Handle without top and left */
        top: 12.5vh;
        left: 7.5vw;
        font-size: 13vw;
        transform: translate(5%, 5%);
        filter: blur(0);
    }
}

/* TODO: breaks cause retrigger on viewport change */
@keyframes moveTitleHandscape {
    0% {
        filter: blur(0);
    }
    25% {
        filter: blur(0.2rem);
    }
    90% {
        filter: blur(0.1rem);
    }
    100% {
        /* TODO: Handle without top and left */
        top: 12.5vh;
        left: 5vw;
        font-size: 9vw;
        transform: translate(5%, 5%);
        filter: blur(0);
    }  
}

@keyframes moveTitleMedium {
    0% {
        filter: blur(0);
    }
    25% {
        filter: blur(0.2rem);
    }
    90% {
        filter: blur(0.1rem);
    }
    100% {
        /* TODO: Handle without top and left */
        top: 12.5vh;
        left: 5vw;
        font-size: 10vw;
        transform: translate(5%, 5%);
        filter: blur(0);
    }  
}

@keyframes moveTitleLarge {
    0% {
        filter: blur(0);
    }
    25% {
        filter: blur(0.2rem);
    }
    90% {
        filter: blur(0.1rem);
    }
    100% {
        /* TODO: Handle without top and left */
        top: 8vh;
        left: 4vw;
        font-size: 9vw;
        transform: translate(5%, 5%);
        filter: blur(0);
    }  
}

@keyframes moveDescription {
    75% {
        width: 0%;
        filter: blur(0.15rem);
    }
    90% {
        filter: blur(0.1rem);
    }
    100% {
        margin-left: 17.5%;
        filter: blur(0);
        width: 70%;
    }
}

@keyframes moveDescriptionHandscape {
    75% {
        width: 0%;
        filter: blur(0.15rem);
    }
    90% {
        filter: blur(0.1rem);
    }
    100% {
        margin-left: 45%;
        filter: blur(0);
        width: 41.25%;
    }
}

@keyframes moveDescriptionMedium {
    75% {
        width: 0%;
        filter: blur(0.15rem);
    }
    90% {
        filter: blur(0.1rem);
    }
    100% {
        margin-left: 32.5%;
        filter: blur(0);
        width: 53%;
    }
}

@keyframes moveDescriptionLarge {
    75% {
        width: 0%;
        filter: blur(0.15rem);
    }
    90% {
        filter: blur(0.1rem);
    }
    100% {
        margin-left: 37.5%;
        filter: blur(0);
        width: 46.5%;
    }
}