.settings-container {
    display: flex;
    justify-content: center;
}

.inner-settings-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

svg {
    height: 5rem;
    width: 5rem;
}

.fa-bars {
    color: #6E6E6E;
}

.fa-times {
    color: black;
}

@media (max-width: 800px) {
    svg {
        height: 3rem;
        width: 3rem;
    }
}

@media (max-width: 400px) {
    .settings-container {
        height: 12vw;
        width: 12vw;
    }
    svg {
        height: 2rem;
        width: 1rem;
    }
}