.settings-container {
    height: 3rem;
    width: 3rem;
}

svg {
    color: #6E6E6E;
}

svg:hover {
    color: orange;
}

@media (max-width: 400px) {
    .settings-container {
        height: 12vw;
        width: 12vw;
    }
}