.settings-container {
    display: flex;
    justify-content: center;
}

.inner-settings-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

svg {
    height: 10vw;
    width: 10vw;
}

.fa-bars {
    color: #6E6E6E;
}

.fa-times {
    color: black;
}

@media (max-width: 400px) {
    .settings-container {
        height: 12vw;
        width: 12vw;
    }
}