<div class="core-container" 
    (scrollX)="scrollX = $event"
    (scrollY)="scrollY = $event" 
    (screenWidth)="screenWidth = $event"
    (screenHeight)="screenHeight = $event" 
    appScreen
>
    <app-cube [scrollY]="scrollY" [screenHeight]="screenHeight"></app-cube>
    <app-landing-page [scrollY]="scrollY" [screenWidth]="screenWidth" [screenHeight]="screenHeight"></app-landing-page>
    <app-about-me-card [scrollY]="scrollY" [screenHeight]="screenHeight" [screenWidth]="screenWidth"></app-about-me-card>
    <app-projects-grid [scrollY]="scrollY" [screenWidth]="screenWidth"></app-projects-grid>
    <app-grid></app-grid>
</div>
<app-contact [scrollY]="scrollY" [screenHeight]="screenHeight"></app-contact>
<app-scrollbar [scrollY]="scrollY" [screenHeight]="screenHeight"></app-scrollbar>