.dark {
    background-color: #1C1C1C;
}

.light {
    background-color: #D8D8D8;
}

.about-page-container {
    display: flex;
    width: 100vw;
    max-width: 100%;
    padding-left: 13rem;
    padding-top: 5rem;
}

@media (max-width: 1300px) {
    .about-page-container {
        padding-left: 0;
    }
}