<div class="about-page-container" [ngClass]="colorTheme">
    <div class="wrapper">
        <div class="center-line">
            <a href="#" class="scroll-icon"><i class="fas fa-caret-down"></i></a>
        </div>
        <div class="row row-1">
            <section>
                <i class="icon fas fa-graduation-cap"></i>
                <div class="details">
                    <span class="title">B.Sc. IMIT / AI</span>
                    <span>Since 1st Oct 2019</span>
                </div>
                <p>Der Studiengang Informationsmanagement und Informationstechnologie kombiniert die Inhalte der Informatik, der Informationstechnologie und der Betriebswirtschaftslehre. Die zusätzliche Vertiefung Angewandte Informatik bietet eine stärkere
                    Technik-Orientierung, sodass diese Studiengangsvariante mit der Angewandten Informatik verglichen werden kann.</p>
                <div class="bottom">
                    <a href="https://www.uni-hildesheim.de/studium/studienangebot/bachelorstudium/informationsmanagement-und-informationstechnologie-bachelor-of-science-bsc/#c112615" target="_blank ">Read more</a>
                    <i>Universität Hildesheim</i>
                </div>
            </section>
        </div>
        <div class="row row-2">
            <section>
                <i class="icon fas fa-code"></i>
                <div class="details">
                    <span class="title">Wirtschaftspraktikum</span>
                    <span>1st Mar 2021 - 14 Jun 2021</span>
                </div>
                <p>Während meiner Praktikumszeit hat die Youco GmbH begonnen mithilfe der Checkpoint-App ein digitales Testzentrum für Corona-Schnelltests aufzusetzen. Dabei habe ich die bestehende Oberfläche für ein Selbstbedienungs-Terminal abgewandelt
                    und eine Website aufgesetzt, die den Bereich eines laufenden Modellprojekts auf einer Karten anzeigt</p>
                <div class="bottom">
                    <a href="https://youco-it.com/" target="_blank ">Read more</a>
                    <i>Youco GmbH</i>
                </div>
            </section>
        </div>
        <div class="row row-1">
            <section>
                <i class="icon fas fa-code"></i>
                <div class="details">
                    <span class="title">Web-Entwickler</span>
                    <span>Since 4th Oct 2021</span>
                </div>
                <p>Neben meinem Studium gehe ich einer Tätigkeit als Studentische Aushilfe bei der Entiac GmbH nach. Dabei bin ich Teil eines agilen Scrum Teams, mit dem Ziel eine moderne Oberfläche für die mobile Datenverarbeitung zu erstellen.</p>
                <div class="bottom">
                    <a href="https://entiac.com/" target="_blank ">Read more</a>
                    <i>Entiac GmbH</i>
                </div>
            </section>
        </div>
        <div class="row row-2">
            <section>
                <i class="icon fas fa-person-chalkboard"></i>
                <div class="details">
                    <span class="title">Wissenschaftliche Hilfskraft</span>
                    <span>1st Apr 2022 - 31 Aug 2022</span>
                </div>
                <p>Im Sommersemester 2022 bin ich einer Beschäftigung als Tutor für das Programmierpraktikum Java nachgegangen. Dabei gehören zu meinen Aufgaben das Plane und Leiten der Tutorien, das Anbieten von Sprechstunden und die Korrektur von Hausaufgaben
                    und Klausuren</p>
                <div class="bottom">
                    <a href="https://sse.uni-hildesheim.de/studium-lehre/veranstaltungen-aus-frueheren-semestern/programmierung-i-java/" target="_blank ">Read more</a>
                    <i>Universität Hildesheim</i>
                </div>
            </section>
        </div>
    </div>
</div>