<div class="language-selector-container">
    <div #activeLang class="active-language" (click)="showLanguages()">
        <img src="assets/images/languages/{{ active }}.png">
    </div>
    <div class="selectable-languages" *ngIf="open">
        <ng-container *ngFor="let lang of languages">
            <div class="lang" *ngIf="lang !== active" (click)="chooseLanguage(lang)">
                <div class="label">{{ 'LANGUAGES.' + lang | translate}}</div>
                <img src="assets/images/languages/{{ lang }}.png">
            </div>
        </ng-container>
    </div>
</div>