.toolbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    width: 100vw;
    background-color: #181818;
}

.logo {
    display: flex;
    padding: 2vh;
    font-size: 6vh;
    font-family: 'LemonMilk';
    text-shadow: 0 0 10px rgba(124, 104, 238, 0.8);
}

.logo>div {
    background: white;
    background-image: linear-gradient( 109.6deg,  rgba(112,246,255,0.33) 11.2%, rgba(221,108,241,0.26) 42%, rgba(229,106,253,0.71) 71.5%, rgba(123,183,253,1) 100.2% );
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    clip-path: inset(1px);
}

.large-nav {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    top: 2em;
    right: 2em;
    gap: 2em;

    div {
        padding: 0.25em;
        opacity: 0.5;
        transition: opacity 0.5s ease;
        color: white;
        font-family: 'LemonMilk';
        font-size: 1em;
        text-decoration: none;
    }

    div:hover {
        opacity: 1;
        border-bottom: 2px solid mediumslateblue;
    }
}

.mobile-nav-container {
    position: absolute;
    top: 0;
    right: 0.25rem;
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mobile-nav {
    opacity: 0.5;
    transition: opacity 0.5s ease;
    color: white;
}

@media (min-width: 576px) {
    .mobile-nav-container {
        right: 1rem;
    }
    .mobile-nav {
        transform: scale(1.5);
    }
}