<div class="toolbar-container">
    @if (!isLP) {
        <div class="logo" (click)="redirect('')">
            <div data-blobity>M</div>
            <div data-blobity>N</div>
        </div>
    }
    @if (screenWidth >= 1200) {
        <div class="nav large-nav">
            <div data-blobity (click)="redirect('/about-me')">About</div>
            <div data-blobity (click)="redirect('/projects')">Projects</div>
            <div data-blobity (click)="scroll()">Contact</div>
            <div data-blobity (click)="redirect('/impressum')">Impressum</div>
        </div>
    } @else {
        <div class="mobile-nav-container">
            <button mat-icon-button (click)="toggleMobileMenu()" class="mobile-nav">
                <mat-icon>menu</mat-icon>
            </button>
        </div>
        <app-menu [screenHeight]="screenHeight"></app-menu>
    }
</div>