<app-project-wallpaper [wallpaper]="wallpaper"></app-project-wallpaper>
<div class="nyc-taxi-analysis-title-container">
    <h1 class="title">NYC Taxi Analysis</h1>
</div>
<div class="preview-container">
    <h1>Unlocking Hidden Patterns</h1>
    <h3>Explore my analysis of millions of taxi rides to reveal trends and insights that shed light on NYC's transportation dynamics.</h3>
    <div class="catch-information">
        <div>
            <img src="assets/images/projects/nyc-taxi-analysis/data.svg">
            <h4 class="desc">90+ million trips analyzed</h4>
            <p>A detailed look into the mobility patterns of one of the world's busiest cities.</p>
        </div>
        <div>
            <img src="assets/images/projects/nyc-taxi-analysis/heatmaps.svg">
            <h4 class="desc">Visualizing hotspots of NYC</h4>
            <p>Heatmaps bringing the city to life, highlighting its busiest hotspots.</p>
        </div>
        <div>
            <img src="assets/images/projects/nyc-taxi-analysis/insights.svg">
            <h4 class="desc">Insights into taxi rides</h4>
            <p>Analysis of occupied trips, empty runs, trip distances, and tip patterns.</p>
        </div>
    </div>
</div>
<div class="table-of-contents">
    <h1>Table of Contents</h1>
    <ul>
        <li><a href="#distribution">Distribution</a></li>
        <li><a href="#200000">200000+</a></li>
        <li><a href="#manhattan">Manhattan</a></li>
        <li><a href="#airports">Airports</a></li>
        <li><a href="#average">Average</a></li>
        <li><a href="#empty-runs">Empty runs</a></li>
        <li><a href="#tips">Tips</a></li>
        <li><a href="#conclusion">Conclusion</a></li>
    </ul>
</div>
