.nyc-taxi-analysis-title-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: top;
    gap: 5vw;

    .title {
        text-align: center;
        padding-top: 5vh;
        font-size: 16vw;
        -webkit-text-stroke: 0.6vw black;
        text-shadow: 0.3vw 0.3vw 0.6vw orange;
        color: darkorange;
    }
}

.preview-container {
    text-align: center;
    width: 100vw;
    background: white;
    padding: 5rem 0;
}

.preview-title {
    margin: 0;
    color: darkorange;
}

.preview-sub-title {
    padding: 0 1rem;
}

.catch-information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    gap: 7.5vw;
    padding-top: 2.5rem;

    div {
        width: 80vw;
        text-align: center;
    }

    p {
        margin-top: 0;
    }

    h4 {
        margin-bottom: 8px;
    }

    img {
        width: 15vw;
        height: auto;
    }
}

.table-of-contents {
    width: 100vw;
    padding: 1.5rem 0;
    background: darkorange;

    h1 {
        text-align: center;
        margin: 0;
        text-decoration: overline underline;
    }

    ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;
        width: 100%;
        padding: 1.5rem 0 0 0;

        li {
            display: flex;
            justify-content: center;
            list-style-type: none;
            
            a {
                background-color: #333333;
                padding: 0.2em;
                color: white;
                text-decoration: none;
                border-radius: 5px;
            }
        }
    }
}

.area {
    text-align: center;
    padding: 2.5rem 0;

    h2 {
        margin: 0 auto;
        width: fit-content;
        border-bottom: 2px solid darkorange;
    }

    h3 {
        margin-bottom: 8px;
    }

    a {
        color: slateblue;
    }

    p {
        padding: 0 10vw
    }
}

.white {
    background: white;
}

.smoke {
    background: whitesmoke;
}

.row {
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;
}

.one {
    img {
        width: 75vw;
        height: auto;
    }
}

.two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;

    img {
        width: 75vw;
        height: auto;
    }
}

.ressources {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;

    img {
        height: 15vw;
        width: auto;
    }

    p {
        margin-top: 8px;
    }
}

@media (min-width: 576px) {
    .nyc-taxi-analysis-title-container>.title {
        padding-top: 2.5vh;
        font-size: 12vw;
        -webkit-text-stroke: 0.35vw black;
        text-shadow: 0.4vw 0.4vw 0.8vw orange;
    } 

    .preview-sub-title {
        padding: 0 2rem;
    }

    .table-of-contents {
        h1 {
            font-size: 4vw;
        }

        ul {
            grid-template-columns: repeat(4, 1fr);
        }

        li {
            font-size: 2vw;
        }
    }

    .one {
        img {
            width: 50vw;
        }
    }
    
    .two {
        img {
            width: 50vw;
        }
    }

    .ressources {
        img {
            height: 10vw;
        }
    }
}

@media (min-width: 992px) {
    .nyc-taxi-analysis-title-container>.title {
        padding-top: 2.5vh;
        font-size: 8vw;
        -webkit-text-stroke: 0.3vw black;
        text-shadow: 0.3vw 0.3vw 0.6vw orange;
    } 

    .preview-title {
        font-size: 3vw;
    }

    .catch-information {
        flex-direction: row;

        div {
            width: 20vw;
        }

        img {
            width: 10vw;
        }
    }

    .table-of-contents {
        h1 {
            font-size: 2.5vw;
        }

        ul {
            grid-template-columns: repeat(4, 1fr);
        }

        li {
            font-size: 1.5vw;
        }
    }

    .one {
        img {
            width: 50vw;
        }
    }
    
    .two {
        gap: 10vw;
        flex-direction: row;
    
        img {
            width: 25vw;
        }
    }

    .ressources {
        flex-direction: row;
        gap: 10vw;
    
        img {
            height: 5vw;
        }
    }
}
