@import 'animations/bounce.css';
@import 'animations/fade.css';
@import 'animations/move.css';
@font-face {
    font-family: epyval;
    src: url('/assets/fonts/Epyval.ttf');
}

.homepage-container {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    background: radial-gradient(farthest-corner at 0 0, #1A1B26, #10101a 75%, #E0FFFF, #E8BFFF, #F080FF, #F740FF, #FF00FF);
    overflow: hidden;
}

.title-name {
    position: absolute;
    display: flex;
    z-index: 1;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    font-size: 14vw;
    font-family: epyval;
    color: #FF00FF;
    filter: blur(0)
}

.title-name>div {
    background-image: linear-gradient(135deg, #E0FFFF 20%, #FF00FF);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    clip-path: inset(1px);
    opacity: 0;
}

.description {
    margin-top: 60vh;
    margin-left: 135%;
    font-weight: 500;
    width: 0%;
    filter: blur(1rem);
}

.developer {
    display: flex;
    text-align: center;
    font-size: 8vw;
    font-family: epyval;
    white-space: nowrap;
    transform: skew(-35deg);
    padding: 1vw;
    padding-left: 3vw;
    opacity: 0;
    background-color: white;
    box-shadow: 4.5px 3px 1.5px 0.75px rgba(100, 100, 100, 0.75);
}

.developer>span {
    opacity: 0;
}

.programming-languages {
    display: flex;
    justify-content: right;
    font-size: 6vw;
    font-family: epyval;
    margin-top: 2.5%;
}

.programming-languages>div {
    display: flex;
    text-align: center;
    background-color: white;
    color: #0d0d0d;
    padding-left: 2%;
    padding-right: 2%;
    transform: skew(-35deg);
    box-shadow: 4.5px 3px 1.5px 0.75px rgba(100, 100, 100, 0.75);
    span {
        opacity: 0;
    }
}

.java {
    margin-right: 12%;
}

.angular {
    margin-right: 3%;
}

.scroll-info {
    position: absolute;
    display: flex;
    bottom: 0;
    margin: 1rem;
    font-size: 4vw;
    font-family: epyval;
    color: #E0FFFF;
    opacity: 0;
    transform: translateY(1rem);
}

.handset-landscape {
    .title-name {
        font-size: 8vw
    }
    .developer {
        padding: 0.5vw;
        padding-left: 2.5vw;
        font-size: 4.5vw;
    }
    .programming-languages>div {
        font-size: 3.75vw;
    }
    .scroll-info {
        font-size: 3vw;
    }
}

.small {
    .programming-languages>div,
    .developer {
        box-shadow: 9px 6px 3px 1.5px rgba(100, 100, 100, 0.75);
    }
}

.medium {
    .programming-languages>div,
    .developer {
        box-shadow: 12px 8px 4px 2px rgba(100, 100, 100, 0.75);
    }
    .title-name {
        font-size: 8vw
    }
    .developer {
        padding: 0.5vw;
        padding-left: 2.5vw;
        font-size: 6vw;
    }
    .programming-languages>div {
        font-size: 4.5vw;
    }
    .scroll-info {
        font-size: 3vw;
    }
}

.large, .web-landscape {
    .title-name {
        font-size: 12vw;
    }
    .programming-languages>div,
    .developer {
        box-shadow: 15px 10px 5px 2.5px rgba(100, 100, 100, 0.75);
    }
    .developer {
        font-size: 5vw;
    }
    .programming-languages>div {
        font-size: 3.5vw;
    }
    .scroll-info {
        font-size: 2.5vw;
    }
}