.container {
    position: relative;
    width: 100vw;
    min-height: calc(100vh - 7.5vh);
    background: var(--background-secondary);
    color: var(--text-reverse);
    z-index: 2;
}

h1 {
    text-align: center;
    padding: 1em 0;
    margin: 0;
    font-family: 'LemonMilk';
    color: var(--primary);
    font-size: 3em;
}

.publications {
    width: 100vw;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 5vw;
    padding-top: 3vh;
    color: var(--text-secondary);
}

@media (min-width: 576px) {
    .publications {
        font-size: 3.5vh;
    }
}

@media (max-height: 576px) {
    .publications {
        font-size: 8vh;
    }
}