<div class="projects-container">
    <div class="carousel-wrapper top">
        @for (_ of [].constructor(10); track _) {
            <div class="header">Projects
                <div class="spacer"> - </div>
            </div>
        }
    </div>
    <div class="projects">
        @for (project of projects; track project) {
            @if (project.title !== 'transparent' || (screenWidth >= 576 && screenWidth < 992)) {
                <img [src]="project.image">
            }
        }
    </div>
    <div class="carousel-wrapper bottom">
        @for (_ of [].constructor(10); track _) {
            <div class="header">Projects
                <div class="spacer"> - </div>
            </div>
        }
    </div>
</div>