.projects-container {
    position: relative;
    width: 100vw;
    background: lavender;
    z-index: 2;
}

.carousel-wrapper {
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
    background: black;
}

.top {
    border-top: 8px solid lavender;
}

.bottom {
    border-bottom: 8px solid lavender;
}

.header {
    display: flex;
    white-space: nowrap;
    letter-spacing: 1px;
    font-family: LemonMilk;
    font-size: 3em;
    color: transparent;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: lavender;
    will-change: transform;
    animation: moveHeader 6s linear infinite;

    .spacer {
        padding: 0 0.5em;
    }
}

.projects {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100vw;
    padding: 4px;
}

.project {
    position: relative;
    display: inline-block;
    overflow: hidden;
    margin: 4px;
    background: #000;
    color: white;
}

.project, img {
    width: calc(100vw * 0.5 - 12px) !important;
    backface-visibility: hidden;
    vertical-align: top;
    width: 100%;
    height: auto;
    border-radius: 7.5px;
}
  
.project *,
.project:before,
.project:after {
    box-sizing: border-box;
    transition: all 0.4s ease;
}

.project:before,
.project:after {
    content: '';
    position: absolute;
    top: 7.5%;
    right: 7.5%;
    opacity: 0;
    z-index: 1;
    background-color: lavender;
}
  
.project:before {
    width: 0;
    height: 2px;
}
  
.project:after {
    height: 0;
    width: 2px;
}
  
.project .caption {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 6% 7.5%;
}
  
.project h3,
.project h4 {
    max-width: 90%;
    margin: 0;
    opacity: 0;
    transition: opacity 1.5s ease;
}

.project h4 {
    color: rgb(175, 175, 175);
    padding-top: 2%;
}
  
.project:hover img {
    opacity: 0.2;
}
  
.project:hover:before,
.project:hover:after {
    opacity: 1;
    transition-delay: 0.25s;
}
  
.project:hover:before {
    width: 30%;
}
  
.project:hover:after {
    height: 30%;
}
  
.project:hover h3,
.project:hover h4 {
    opacity: 1;
}

.center {
    animation: spin 10s linear infinite;
    margin: 4px;
}

@media (min-width: 576px) {
    .header {
        font-size: 6em;
    }

    .project, img {
        width: calc(100vw * 0.333 - 10px) !important;
    }
}

@media (min-width: 992px) {
    .header {
        font-size: 8em;
    }

    .project, img {
        width: calc(100vw * 0.25 - 10px) !important;
    }
}

@keyframes moveHeader {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    100% {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
