<div class="projects-container">
    <div class="carousel-wrapper">
        @for (_ of [].constructor(10); track _) {
            <div class="header">Projects
                <div class="spacer"> - </div>
            </div>
        }
    </div>
    <div class="projects">
        @for (project of projects; track project) {
            <div class="image-container">
                <img [src]="project.image">
            </div>
            <div class="title">{{ project.title }}</div>
        }
    </div>
</div>