.dark {
    background-color: #1C1C1C;
}

.light {
    background-color: #D8D8D8;
}

.projects-page-container {
    display: block;
    justify-content: center;
    width: 100%;
    height: 100%;
    max-width: 100%;
    padding-left: 13rem;
    padding-top: 5rem;
}

h1 {
    font-size: 6.5rem;
    padding-left: 3rem;
    padding-bottom: 3rem;
}

.header-dark {
    color: orange;
    text-shadow: 0 5px darkred, 0 5.5px darkred, 0 6px darkred;
}

.header-light {
    color: black;
    text-shadow: 0 5px orange, 0 5.5px orange, 0 6px orange;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: calc(100% - 6.5rem);
    margin: 0;
    padding: 0;
}

[type=radio] {
    display: none;
}

#slider {
    height: 35vw;
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;
}

#slider label {
    margin: auto;
    width: 60%;
    height: 100%;
    border-radius: 4px;
    position: absolute;
    left: 0;
    right: 0;
    transition: transform 0.4s ease;
}

#s1:checked~#slide4,
#s2:checked~#slide5,
#s3:checked~#slide1,
#s4:checked~#slide2,
#s5:checked~#slide3 {
    box-shadow: 0 1px 4px 0 orange;
    transform: translate3d(-30%, 0, -200px);
}

#s1:checked~#slide5,
#s2:checked~#slide1,
#s3:checked~#slide2,
#s4:checked~#slide3,
#s5:checked~#slide4 {
    box-shadow: 0 6px 10px 0 orange, 0 2px 2px 0 orangered;
    transform: translate3d(-15%, 0, -100px);
}

#s1:checked~#slide1,
#s2:checked~#slide2,
#s3:checked~#slide3,
#s4:checked~#slide4,
#s5:checked~#slide5 {
    box-shadow: 0 13px 25px 0 orange, 0 11px 7px 0 orangered;
    transform: translate3d(0, 0, 0);
}

#s1:checked~#slide2,
#s2:checked~#slide3,
#s3:checked~#slide4,
#s4:checked~#slide5,
#s5:checked~#slide1 {
    box-shadow: 0 6px 10px 0 orange, 0 2px 2px 0 orangered;
    transform: translate3d(15%, 0, -100px);
}

#s1:checked~#slide3,
#s2:checked~#slide4,
#s3:checked~#slide5,
#s4:checked~#slide1,
#s5:checked~#slide2 {
    box-shadow: 0 1px 4px 0 orange;
    transform: translate3d(30%, 0, -200px);
}

@media (max-width: 1300px) {
    .projects-page-container {
        padding-left: 0;
    }
}

@media (max-width: 1000px) {
    h1 {
        font-size: 5rem;
    }
    .header-dark {
        text-shadow: 0 4px darkred, 0 4.5px darkred, 0 5px darkred;
    }
    .header-light {
        text-shadow: 0 4px orange, 0 4.5px orange, 0 5px orange;
    }
}

@media (max-width: 800px) {
    h1 {
        font-size: 3.5rem;
    }
    .header-dark {
        text-shadow: 0 3px darkred, 0 3.5px darkred, 0 4px darkred;
    }
    .header-light {
        text-shadow: 0 3px orange, 0 3.5px orange, 0 4px orange;
    }
}

@media (max-width: 600px) {
    h1 {
        font-size: 2.25rem;
    }
    .header-dark {
        text-shadow: 0 2.4px darkred, 0 2.55px darkred, 0 2.7px darkred;
    }
    .header-light {
        text-shadow: 0 2.4px orange, 0 2.55px orange, 0 2.7px orange;
    }
}

@media (max-width: 400px) {
    h1 {
        font-size: 9vw;
        padding-left: 7vw;
    }
    .header-dark {
        text-shadow: 0 0.3vw darkred, 0 0.45vw darkred, 0 0.6vw darkred;
    }
    .header-light {
        text-shadow: 0 0.3vw orange, 0 0.45vw orange, 0 0.6vw orange;
    }
}