<div class="landing-page-container">
    <div class="content">
        <div class="title">
            <div class="font name">
                <div class="row">
                    <div>M</div>
                    <div>a</div>
                    <div>r</div>
                    <div>c</div>
                    <div>e</div>
                    <div>l</div>
                    @if (screenWidth >= 768 || (screenHeight < 576 && screenWidth >= 576)) {
                        <div>&nbsp;</div>
                        <div>N</div>
                        <div>ö</div>
                        <div>h</div>
                        <div>r</div>
                        <div>e</div>
                    }
                </div>
                @if (!(screenWidth >= 768 || (screenHeight < 576  && screenWidth >= 576))) {
                    <div class="row last-name">
                        <div>N</div>
                        <div>&ouml;</div>
                        <div>h</div>
                        <div>r</div>
                        <div>e</div>
                    </div>
                }
            </div>
            <div class="font developer">
                Full Stack Developer
            </div>
        </div>
        <div class="abstract">
            Hi there! I'm a full-stack developer who's been mainly working in web development with Angular and Nest for a few years now. 
            During this time, I've focused on improving usability to partially automate business processes with as little worker interaction as possible.
        </div>
    </div>
    @if (screenWidth >= 1200) {
        <div class="nav large-nav">
            <div data-blobity (click)="scroll('about')">About</div>
            <div data-blobity (click)="scroll('projects')">Projects</div>
            <div data-blobity (click)="scroll('contact')">Contact</div>
            <div data-blobity (click)="redirect()">Impressum</div>
        </div>
    } @else {
        <button mat-icon-button (click)="toggleMobileMenu()" class="mobile-nav">
            <mat-icon>menu</mat-icon>
        </button>
    }
    <div #scrollDown class="scroll-down" [ngClass]="scrollY > 0 ? 'fade' : ''"></div>
</div>
@if (screenWidth < 1200) {
    <app-menu [screenHeight]="screenHeight"></app-menu>
}