.landing-page-container {
    height: 100vh;
    width: 100vw;
}

.header {
    width: 100%;
    height: 7.5vh;
    display: flex;
    justify-content: space-evenly;
}

.content {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background: linear-gradient(to bottom, rgb(70, 70, 80), rgb(33, 33, 45) 75%, rgb(17, 17, 22));
}

.font {
    font-family: 'LemonMilk';
    color: white;
    text-shadow: 0 0 10px MediumSlateBlue;
}

.name {
    font-size: 7.5em;
}

.developer {
    font-size: 3em;
    padding-top: 0.125em;
}

