@keyframes moveTitle {
    0% {
        filter: blur(0);
    }
    50% {
        filter: blur(0.25rem);
    }
    90% {
        filter: blur(0.1rem);
    }
    100% {
        top: calc(4vw + 4vh / 2);
        left: calc(calc(4vw + 4vh / 2));
        height: calc(10px + (125 - 10) * ((100vw - 50px) / (2000 - 50)));
        font-size: calc(10px + (125 - 10) * ((100vw - 50px) / (2000 - 50)));
        line-height: calc(10px + (125 - 10) * ((100vw - 50px) / (2000 - 50)));
        transform: translate(1rem, 1rem);
        filter: blur(0);
    }
}

@keyframes moveDescription {
    70% {
        filter: blur(0.15rem);
    }
    90% {
        filter: blur(0.1rem);
    }
    100% {
        margin-left: 35%;
        margin-right: 9%;
        filter: blur(0);
    }
}