.impressum-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

mat-card {
    position: relative;
    height: 90vh;
    width: 90vw;
    padding: 2em 3em;
    overflow-y: scroll;
    box-shadow: 0 0 2.5em mediumslateblue;
}

button {
    position: fixed;
    top: 3rem;
    right: 3rem;
}
