app-starting-page {
    top: 0;
    left: 0;
}

app-about-page {
    top: 100vh;
    left: 0;
}

app-side-nav {
    display: none;
}

app-settings {
    display: none;
}

@media (max-width: 1300px) {
    app-side-nav {
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
    }
    app-settings {
        position: fixed;
        display: flex;
        z-index: 1;
        top: 10px;
        right: 10px;
    }
}