.grid-container {
    position: relative;
    width: 100vw;
    padding: 10vw 2.5vw;
    background: linear-gradient(to bottom, #606060, #181818);
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 95vw;
    gap: 3vw;
}

.grid-item {
    height: 100%;
    text-align: center;
    padding: 1.5em;
    padding-bottom: 0;
    background: rgb(255, 255, 255, 0.1 );
    color: white;
    transition: 0.5s;
}

.grid-item:hover {
    scale: 1.05;
    background: rgb(255, 255, 255, 0.25);
}

.small {
    mat-card-content {
        display: flex;
        justify-content: space-between;
    }

    .description {
        width: 66%;
        text-align: left;
    }

    .image {
        width: 30%;
    }
}

.large {
    grid-row: span 2;

    mat-card-header {
        display: flex;
        justify-content: center;
    }

    .description {
        text-align: center;
    }

    .image {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }
}

mat-card-header {
    font-size: 1.5em;
    padding-bottom: 1em;
}

.description {
    line-height: 1.5em;
}

.image {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    aspect-ratio: 1/1;

    img {
        width: 80%;
        height: 80%;
        border-radius: 50%;
        object-fit: cover;
        background: white;
    }
}