.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    gap: 2.5vh;
    padding-bottom: 1vh;
    background-color: var(--background);
}

.experience,
.education {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 75vw;
    margin: 0 20vw;
    border: 1px solid var(--border);
    border-radius: 10px;
    margin-bottom: 5vh;
    padding: 1em 2em 0 2em;

    h1 {
        padding: 0;
        margin: 0;
        text-decoration: underline;
    }
}

.item {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1em 0;
    color: var(--text);

    h2 {
        margin: 0;
        padding: 0;
    }
}

.date {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 0 0.25em 0;
    gap: 0.25em;
    color: var(--text-primary);
}

.from,
.to {
    padding: 0.25em;    
    background: var(--primary);
    border-radius: 5px;
}

.since {
    margin-bottom: 0.25em;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    gap: 0.5em;
}

.divider {
    height: 1px;
    width: 100%;
    margin: 0.5em 0;
    background: var(--border);
}

.link {
    display: flex;
    align-items: center;
    gap: 0.5em;

    mat-icon {
        color: var(--primary);
    }
}

a {
    color: var(--primary);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.original {
    font-style: italic;
}

@media (min-width: 768px) {
    .experience,
    .education {
        width: 60vw;
    }

    .item {
        flex-direction: row;
        padding: 1em;
    }

    .date {
        flex-direction: column;
        padding: 0 2.5vw 0 0;
        gap: 0;
    }
}