.container {
    width: 100vw;
}

.title {
    display: flex;
    justify-content: center;
    padding: 2.5vh 0;
    font-size: 5vh;
}

.experience,
.education {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 60vw;
    margin: 0 20vw;
    border: 1px solid darkgray;
    border-radius: 10px;
    margin-bottom: 5vh;
    padding: 2rem;

    h2 {
        padding: 0;
        margin: 0;
    }
}

.item {
    display: flex;
    width: 100%;
    padding: 1rem;
}

.date {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 2.5vw 0 0;
}

.from,
.to {
    padding: 0.25rem;    
    background: var(--primary);
    border-radius: 5px;
}

.since {
    margin-bottom: 0.25rem;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    gap: 0.5rem;
}

.divider {
    height: 1px;
    width: 100%;
    background: darkgray;
}

.link {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    mat-icon {
        color: slateblue;
    }
}

a {
    color: var(--primary);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.original {
    font-style: italic;
}