.landing-page-container {
    position: relative;
    height: 150vh;
    width: 100vw;
    background: transparent;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5em;
    min-height: 85vh;
    padding-top: 1em;
    padding-left: 2em;

    .font {
        font-family: 'LemonMilk';
        color: white;
        text-shadow: 0 0 10px rgba(124, 104, 238, 0.8);
    }
    
    .name {
        font-size: 3.5em;
    }

    .row {
        display: flex;
    }

    .last-name {
        transform: translateY(-0.15em);
    }

    .row>div {
        background: white;
        background-image: linear-gradient( 109.6deg,  rgba(112,246,255,0.33) 11.2%, rgba(221,108,241,0.26) 42%, rgba(229,106,253,0.71) 71.5%, rgba(123,183,253,1) 100.2% );
        background-size: 100%;
        background-clip: text;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent;
        clip-path: inset(1px);
    }
    
    .developer {
        font-size: 1.2em;
    }
}

.abstract {
    width: 90%;
    color: white;
}

.scroll-down {
    position: absolute;
    top: calc(100svh - 5.5em);
    left: calc(100vw - 5.5em);
    height: 5em;
    width: auto;
    z-index: -1;
    transition: 2s ease;
}

.fade {
    opacity: 0;
}

app-toolbar {
    position: absolute;
    top: 0;
    left: 0;
}

@media (min-width: 576px) {
    .content {
        padding-top: 3em;
        padding-left: 3em;
        
        .name {
            font-size: 4.5em;
        }
    
        .developer {
            font-size: 2em;
        }
    }

    .abstract {
        left: 4em;
        width: 23em;
        font-size: 1.2em;
        text-align: left;
    }
}

@media (min-width: 992px) {
    .abstract {
        bottom: 5em;
        left: 5em;
        width: 23em;
        font-size: 1.2em;
    }
}

@media (max-height: 576px) {
    .content {
        padding-top: 1em;
        padding-left: 1em;

        .name {
            font-size: 2.5em;
        }
    
        .developer {
            font-size: 1em;
        }
    }
}