<app-project-wallpaper [wallpaper]="wallpaper"></app-project-wallpaper>
<div class="swagger-for-aas-title-container">
    <h1 class="title">Swagger 4 AAS</h1>
</div>
<div class="preview-container">
    <h1 class="preview-title">Automating API Documentation for Asset Administration Shells</h1>
    <div class="cards">
        <mat-card>An Asset Administration Shell (AAS) is a standardised digital representation of a physical or virtual asset, enabling interoperability in Industry 4.0. It encapsulates all relevant data, functionalities and lifecycle information, acting as a digital twin for seamless integration and automation. Through structured submodels, AAS facilitates efficient data exchange, traceability and smart decision-making.</mat-card>
        <mat-card>Swagger UI is an open-source tool that visually represents APIs, allowing developers to explore, test, and interact with API endpoints through an intuitive web interface. It generates documentation from OpenAPI specifications, making it easier to understand request and response structures, parameters, and authentication requirements.</mat-card>
    </div>
</div>