.about-page-container {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    background-color: black;
    overflow: hidden;
}

.information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 60%;
    font-size: calc(10px + (30 - 10) * ((100vw - 50px) / (2000 - 50)));
    color: white;
}

.dot {
    height: 10rem;
    width: 10rem;
    background-color: #FF00FF;
    box-shadow: darkmagenta 0px 0px 30px 10px;
    border-radius: 50%;
    display: inline-block;
}

.dot-top-left {
    position: absolute;
    margin: 5rem;
    left: 0;
}

.dot-top-right {
    position: absolute;
    margin: 5rem;
    right: 0;
}

.dot-bottom-left {
    position: absolute;
    margin: 5rem;
    left: 0;
    bottom: -100vh;
}

.dot-bottom-right {
    position: absolute;
    margin: 5rem;
    right: 0;
    bottom: -100vh;
}

.quote {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

i {
    color: black;
    font-size: 6rem;
}