<div class="about-page-container">

    <div class="information">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae placeat doloremque quo odit non sequi accusamus aperiam reprehenderit, ullam recusandae voluptas, officiis ab fuga. Nam necessitatibus hic at omnis atque? Lorem ipsum dolor sit amet consectetur
        adipisicing elit. Laboriosam iste repellat rerum mollitia. Praesentium maxime quisquam provident esse explicabo. Ullam ea laboriosam minima veritatis, sit delectus rerum quam at deserunt!
    </div>
    <div class="dot dot-top-left">
        <div class="quote">
            <i class="material-icons">format_quote</i>
        </div>
    </div>
    <div class="dot dot-top-right">
        <div class="quote">
            <i class="material-icons">format_quote</i>
        </div>
    </div>
    <div class="dot dot-bottom-left">
        <div class="quote">
            <i class="material-icons">format_quote</i>
        </div>
    </div>
    <div class="dot dot-bottom-right">
        <div class="quote">
            <i class="material-icons">format_quote</i>
        </div>
    </div>
</div>