<div class="about-page-container">
    <div class="information">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae placeat doloremque quo odit non sequi accusamus aperiam reprehenderit, ullam recusandae voluptas, officiis ab fuga. Nam necessitatibus hic at omnis atque? Lorem ipsum dolor sit amet consectetur
        adipisicing elit. Laboriosam iste repellat rerum mollitia. Praesentium maxime quisquam provident esse explicabo. Ullam ea laboriosam minima veritatis, sit delectus rerum quam at deserunt!
    </div>
    <div class="top-left">
        <div class="quote">
            <i class="material-icons">format_quote</i>
            <h1>Code is like humor. When you have to explain it, it’s bad.</h1>
        </div>
    </div>
    <div class="top-right">
        <div class="quote">
            <h1>There is always one more bug to fix.</h1>
            <i class="material-icons">format_quote</i>
        </div>
    </div>
    <div class="bottom-left">
        <div class="quote">
            <i class="material-icons">format_quote</i>
            <h1>It works on my machine.</h1>
        </div>
    </div>
    <div class="bottom-right">
        <div class="quote">
            <h1>It’s not a bug. It’s an undocumented feature.</h1>
            <i class="material-icons">format_quote</i>
        </div>
    </div>
</div>