.project-wallpaper-container {
    position: absolute;
    top: 10vh;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 90vh;
    width: 100vw;
}

.wallpaper {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    filter: blur(5px);
    z-index: -1;
}