<div class="core-container" 
    (scrollX)="scrollX = $event"
    (scrollY)="scrollY = $event" 
    (screenWidth)="screenWidth = $event"
    (screenHeight)="screenHeight = $event" 
    appScreen
>
    <app-cube [scrollY]="scrollY" [screenHeight]="screenHeight"></app-cube>
    <app-landing-page [screenWidth]="screenWidth" [screenHeight]="screenHeight"></app-landing-page>
    <app-about-me [scrollY]="scrollY" [screenHeight]="screenHeight" [screenWidth]="screenWidth"></app-about-me>
    <app-projects [scrollY]="scrollY" [screenWidth]="screenWidth"></app-projects>
    <app-technologies></app-technologies>
    <app-contact [scrollY]="scrollY" [screenHeight]="screenHeight"></app-contact>
</div>
<app-scrollbar [scrollY]="scrollY" [screenHeight]="screenHeight"></app-scrollbar>