.container {
    width: 100vw;
}

.home-nav {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.landing-page {
    position: relative;
    height: 150vh;
    width: 100vw;
    background: transparent;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5em;
    min-height: 85vh;
    padding-top: 1em;
    padding-left: 2em;

    .font {
        font-family: 'LemonMilk';
        color: white;
        text-shadow: 0 0 10px rgba(124, 104, 238, 0.8);
    }
    
    .name {
        font-size: 3.5em;
    }

    .last-name {
        transform: translateY(-0.15em);
    }

    .position {
        font-size: 2.75em;
    }
}

.abstract {
    width: 90%;
    color: var(--text);
}

.scroll-down {
    position: absolute;
    top: calc(100svh - 5.5em);
    left: calc(100vw - 5.5em);
    height: 5em;
    width: auto;
    z-index: -1;
    transition: 2s ease;
}

.fade {
    opacity: 0;
}

@media (min-width: 576px) {
    .content {
        padding-top: 3em;
        padding-left: 3em;
        
        .name {
            font-size: 4.5em;
        }
    
        .position {
            font-size: 3.5em;
        }
    }

    .abstract {
        left: 4em;
        width: 23em;
        font-size: 1.2em;
        text-align: left;
    }
}

@media (min-width: 992px) {
    .abstract {
        bottom: 5em;
        left: 5em;
        width: 23em;
        font-size: 1.2em;
    }
}

@media (max-height: 576px) {
    .content {
        padding-top: 1em;
        padding-left: 1em;

        .name {
            font-size: 2.5em;
        }
    
        .position {
            font-size: 2em;
        }
    }
}