.container {
    height: 50vh;
    background-color: #181818;
}

.publications {
    width: 100vw;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 5vw;
    padding-top: 3vh;
}

@media (min-width: 576px) {
    .container {
        height: 40vh;
    }

    .publications {
        font-size: 3.5vh;
    }
}

@media (max-height: 576px) {
    .container {
        height: 40vh;
    }

    .publications {
        font-size: 8vh;
    }
}
  
@media (min-width: 992px) {
    .container {
        height: 50vh;
    }
}