.projects-container {
    position: relative;
    width: 100vw;
    z-index: 2;
    background: radial-gradient(circle at center, #2d2a55, #1e1c3b 60%, #0e0c22);
}

.projects {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100vw;
    margin: 1rem 0;
}

.project {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90vw;
    margin: 1rem auto;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    color: white;

    &:hover {
        box-shadow: 0 4px 8px slateblue;
    }

    .heading {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 1rem 2rem 0 2rem;
        align-items: center;
    }

    .title {
        width: fit-content;
        font-size: 1.5rem;
        font-weight: bold;
        text-transform: uppercase;
        border-bottom: 4px solid slateblue;
    }

    .technologies {
        color: lightslategrey;
    }

    .content {
        display: flex;
        flex-direction: column;
        text-align: left;
        padding: 1rem 2rem;

        .information {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        img {
            margin: 0 auto;
            width: 60vw;
            height: auto;
            border-radius: 10px;
            box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
        }
    }

    .actions {
        display: flex;
        justify-content: center;

        button {
            background-color: slateblue;
            color: white;
        }
    }
}

.contact-spacer {
    margin-bottom: 100vh;
}

@media (min-width: 576px) {
    .project {
        width: 72vw;

        .heading {
            flex-direction: row;
        }

        .content {
            flex-direction: row;
            gap: 1.5rem;

            img {
                width: 28vw;
            }
        }
    }

    .left {
        transform: translateX(-10vw);
    }
    
    .left:hover {
        transform: translateX(-10vw) scale(1.02);
    }
    
    .right {
        transform: translateX(10vw);
    }
    
    .right:hover {
        transform: translateX(10vw) scale(1.02);
    }
}

@media (min-width: 992px) {
    .project {
        width: 64vw;

        .information {
            padding: 0 1rem;
        }

        .content {
            img {
                margin: 0;
                width: 20vw;
            }

            p {
                font-size: 1rem;
                line-height: 1.6;
            }
        }

        .title {
            font-size: 2rem;
        }
    }
}