<app-toolbar [screenHeight]="screenHeight" [screenWidth]="screenWidth" [isLP]="false"></app-toolbar>
<div class="projects-container"
    (screenWidth)="screenWidth = $event"
    (screenHeight)="screenHeight = $event"
    (scrollY)="scrollY = $event" 
    appScreen
>
    <app-carousel-wrapper title="projects"></app-carousel-wrapper>
    <div class="projects">
        @for (project of projects; track project) {
            @if (project.title !== 'center') {
                <section [class]="$even ? 'project left' : 'project right'">
                    <div class="heading">
                        <div class="title">{{ project.title }}</div>
                        <div class="technologies">{{ project.technologies }}</div>
                    </div>
                    <div class="content">
                        <img [src]="project.image" alt="Project Image">
                        <div class="information">
                            <p>{{ project.description }}</p>
                            <div class="actions">
                                <button mat-raised-button (click)="openUrl(project.url, project.target)">
                                    <mat-icon>visibility</mat-icon>
                                    View
                                </button>
                            </div>
                        </div>
                    </div>
                </section>                
            }
        }
    </div>
    <app-carousel-wrapper title="projects"></app-carousel-wrapper>
</div>
<div class="contact-spacer">
    <app-contact [scrollY]="scrollY" [screenHeight]="screenHeight"></app-contact>
    <app-scrollbar [scrollY]="scrollY" [screenHeight]="screenHeight"></app-scrollbar>
</div>