<div class="wrapper">
    <div class="center-line">
        <div class="scroll-icon"><i class="fas fa-caret-down"></i></div>
    </div>
    <div class="row row-1">
        <section>
            <i class="icon fas fa-graduation-cap"></i>
            <div class="details">
                <span class="title">B.Sc. IMIT / AI</span>
                <span class="date">Seit dem 01.10.2019&nbsp;</span>
            </div>
            <p class="content">Der Studiengang Informationsmanagement und Informationstechnologie kombiniert die Inhalte der Informatik, der Informationstechnologie und der Betriebswirtschaftslehre. Die zusätzliche Vertiefung Angewandte Informatik bietet eine stärkere Technik-Orientierung,
                sodass diese Studiengangsvariante mit der Angewandten Informatik verglichen werden kann.</p>
            <div class="bottom">
                <a href="https://www.uni-hildesheim.de/studium/studienangebot/bachelorstudium/informationsmanagement-und-informationstechnologie-bachelor-of-science-bsc/#c112615" target="_blank ">Read more</a>
                <i>Universität Hildesheim</i>
            </div>
        </section>
    </div>
    <div class="row row-2">
        <section>
            <i class="icon fas fa-code"></i>
            <div class="details">
                <span class="title">Wirtschaftspraktikum</span>
                <span class="date">01.03.2021-14.06.2021&nbsp;</span>
            </div>
            <p class="content">Während meiner Praktikumszeit hat die Youco GmbH begonnen mithilfe der Checkpoint-App ein digitales Testzentrum für Corona-Schnelltests aufzusetzen. Dabei habe ich die bestehende Oberfläche für ein Selbstbedienungs-Terminal abgewandelt und
                eine Website aufgesetzt, die den Bereich eines laufenden Modellprojekts auf einer Karten anzeigt</p>
            <div class="bottom">
                <a href="https://youco-it.com/" target="_blank ">Read more</a>
                <i>Youco GmbH</i>
            </div>
        </section>
    </div>
    <div class="row row-1">
        <section>
            <i class="icon fas fa-code"></i>
            <div class="details">
                <span class="title">Web-Entwickler</span>
                <span class="date">Seit dem 04.10.2021&nbsp;</span>
            </div>
            <p class="content">Neben meinem Studium gehe ich einer Tätigkeit als Studentische Aushilfe bei der Entiac GmbH nach. Dabei bin ich Teil eines agilen Scrum Teams, mit dem Ziel eine moderne Oberfläche für die mobile Datenverarbeitung zu erstellen.</p>
            <div class="bottom">
                <a href="https://entiac.com/" target="_blank ">Read more</a>
                <i>Entiac GmbH</i>
            </div>
        </section>
    </div>
    <div class="row row-2">
        <section>
            <i class="icon fas fa-person-chalkboard"></i>
            <div class="details">
                <span class="title">Wissenschaftliche Hilfskraft</span>
                <span class="date">01.04.2022-31.08.2022&nbsp;</span>
            </div>
            <p class="content">Im Sommersemester 2022 bin ich einer Beschäftigung als Tutor für das Programmierpraktikum Java nachgegangen. Dabei gehören zu meinen Aufgaben das Plane und Leiten der Tutorien, das Anbieten von Sprechstunden und die Korrektur von Hausaufgaben
                und Klausuren</p>
            <div class="bottom">
                <a href="https://sse.uni-hildesheim.de/studium-lehre/veranstaltungen-aus-frueheren-semestern/programmierung-i-java/" target="_blank ">Read more</a>
                <i>Universität Hildesheim</i>
            </div>
        </section>
    </div>
</div>