<div class="rl-overlay-container" style="color: white">
    <div class="landing-page">
        <div class="title-container">
            <div class="title">
                <div>R</div>
                <div>o</div>
                <div>c</div>
                <div>k</div>
                <div>e</div>
                <div>t</div>
                <div>&nbsp;</div>
                <div>L</div>
                <div>e</div>
                <div>a</div>
                <div>g</div>
                <div>u</div>
                <div>e</div>
                <div>&nbsp;</div>
                <div>O</div>
                <div>v</div>
                <div>e</div>
                <div>r</div>
                <div>l</div>
                <div>a</div>
                <div>y</div>
            </div>
        </div>
        <div class="information">
            <div class="source-code">
                <button mat-raised-button color="accent">View Source Code</button>
            </div>
            <div class="description">
                <p>
                    Benutzerdefiniertes Rocket League Overlay im Auftrag von 3D-Gaming, um Zuschauern während eines Live-Streams zu ermöglichen, die Statistiken der Spielern mitzuverfolgen.
                </p>
            </div>
        </div>
    </div>
    <div class="game-view">
        <video controls>
            <source src="assets/images/projects/3dg-overlay-preview.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
    <div class="features">
        <div class="game-overview">
            <div>
                <img src="assets/images/projects/placeholder.png" alt="Game Overview">
            </div>
            <div>
                <p>
                    Spielübersicht am Ende eines Spiels
                </p>
            </div>
        </div>
        <div class="caster-view">
            <div>
                <p>
                    Benutzeroberfläche für den Streamer
                </p>
            </div>
            <div>
                <img src="assets/images/projects/placeholder.png" alt="Caster View">
            </div>
        </div>
    </div>
</div>