.dark {
    color: white;
    &::before {
        background-color: #1C1C1C;
    }
    &::after {
        animation: typewriter var(--speed, 1.75s) steps(var(--chars)) var(--delay, 1s) forwards, blink 750ms steps(var(--chars)) var(--delay, 0s) var(--count);
    }
}

.light {
    color: black;
    &::before {
        background-color: #D8D8D8;
    }
    &::after {
        animation: typewriter var(--speed, 1.75s) steps(var(--chars)) var(--delay, 1s) forwards, blink 750ms steps(var(--chars)) var(--delay, 0s) var(--count);
    }
}

.typing-animation-container {
    position: relative;
    padding-top: 10rem;
    padding-bottom: 10rem;
    padding-left: 3rem;
}

.typewriter {
    position: relative;
    display: flex;
    background-color: inherit;
    font-family: "Source Code Pro", monospace;
    width: max-content;
    padding-top: 0, 2rem;
    padding-bottom: 0.2rem;
    &::before {
        animation: typewriter var(--speed, 1.75s) steps(var(--chars)) var(--delay, 1s) forwards;
    }
    &::after {
        width: 0.125em;
        background: transparent;
    }
    &::before,
    &::after {
        content: "";
        position: absolute;
        inset: 0;
    }
}

.name-dark {
    color: orange;
    text-shadow: 0 5px darkred, 0 5.5px darkred, 0 6px darkred;
}

.name-light {
    color: black;
    text-shadow: 0 5px orange, 0 5.5px orange, 0 6px orange;
}

.job-dark {
    color: white;
    text-shadow: 0 3px orange, 0 3.5px orange, 0 4px orange;
}

.job-light {
    color: orange;
    text-shadow: 0 3px darkred, 0 3.5px darkred, 0 4px darkred;
}

h1 {
    font-size: 6.5rem;
}

h2 {
    font-size: 3.75rem;
}

@keyframes typewriter {
    to {
        left: 100%;
    }
}

@keyframes blink {
    to {
        background: grey;
    }
}

@media (max-width: 1000px) {
    h1 {
        font-size: 5rem;
    }
    h2 {
        font-size: 3rem;
    }
    .name-dark {
        text-shadow: 0 4px darkred, 0 4.5px darkred, 0 5px darkred;
    }
    .name-light {
        text-shadow: 0 4px orange, 0 4.5px orange, 0 5px orange;
    }
    .job-dark {
        text-shadow: 0 2.5px orange, 0 3px orange, 0 3.5px orange;
    }
    .job-light {
        text-shadow: 0 2.5px darkred, 0 3px darkred, 0 3.5px darkred;
    }
}

@media (max-width: 800px) {
    h1 {
        font-size: 3.5rem;
    }
    h2 {
        font-size: 2.125rem;
    }
    .name-dark {
        text-shadow: 0 3px darkred, 0 3.5px darkred, 0 4px darkred;
    }
    .name-light {
        text-shadow: 0 3px orange, 0 3.5px orange, 0 4px orange;
    }
    .job-dark {
        text-shadow: 0 2px orange, 0 2.25px orange, 0 2.5px orange;
    }
    .job-light {
        text-shadow: 0 2px darkred, 0 2.25px darkred, 0 2.5px darkred;
    }
}

@media (max-width: 600px) {
    h1 {
        font-size: 2.25rem;
    }
    h2 {
        font-size: 1.25rem;
    }
    .name-dark {
        text-shadow: 0 2.4px darkred, 0 2.55px darkred, 0 2.7px darkred;
    }
    .name-light {
        text-shadow: 0 2.4px orange, 0 2.55px orange, 0 2.7px orange;
    }
    .job-dark {
        text-shadow: 0 1.5px orange, 0 1.6px orange, 0 1.7px orange;
    }
    .job-light {
        text-shadow: 0 1.5px darkred, 0 1.6px darkred, 0 1.7px darkred;
    }
}

@media (max-width: 400px) {
    h1 {
        font-size: 9vw;
    }
    h2 {
        font-size: 5vw;
    }
    .name-dark {
        text-shadow: 0 0.3vw darkred, 0 0.45vw darkred, 0 0.6vw darkred;
    }
    .name-light {
        text-shadow: 0 0.3vw orange, 0 0.45vw orange, 0 0.6vw orange;
    }
    .job-dark {
        text-shadow: 0 0.25vw orange, 0 0.35vw orange, 0 0.45vw orange;
    }
    .job-light {
        text-shadow: 0 0.25vw darkred, 0 0.35vw darkred, 0 0.45vw darkred;
    }
    .typing-animation-container {
        padding-left: 7vw;
    }
}