.dark {
    background-color: #1C1C1C;
}

.light {
    background-color: #D8D8D8;
}

.experience-page-container {
    display: block;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    padding-left: 13rem;
    padding-top: 5rem;
    padding-bottom: 1rem;
}

h1 {
    font-size: 6.5rem;
    padding-left: 3rem;
}

.header-dark {
    color: orange;
    text-shadow: 0 5px darkred, 0 5.5px darkred, 0 6px darkred;
}

.header-light {
    color: black;
    text-shadow: 0 5px orange, 0 5.5px orange, 0 6px orange;
}

@media (max-width: 1300px) {
    .experience-page-container {
        padding-left: 0;
    }
}

@media (max-width: 1000px) {
    h1 {
        font-size: 5rem;
    }
    .header-dark {
        text-shadow: 0 4px darkred, 0 4.5px darkred, 0 5px darkred;
    }
    .header-light {
        text-shadow: 0 4px orange, 0 4.5px orange, 0 5px orange;
    }
}

@media (max-width: 800px) {
    h1 {
        font-size: 3.5rem;
    }
    .header-dark {
        text-shadow: 0 3px darkred, 0 3.5px darkred, 0 4px darkred;
    }
    .header-light {
        text-shadow: 0 3px orange, 0 3.5px orange, 0 4px orange;
    }
}

@media (max-width: 600px) {
    h1 {
        font-size: 2.25rem;
    }
    .header-dark {
        text-shadow: 0 2.4px darkred, 0 2.55px darkred, 0 2.7px darkred;
    }
    .header-light {
        text-shadow: 0 2.4px orange, 0 2.55px orange, 0 2.7px orange;
    }
}

@media (max-width: 400px) {
    h1 {
        font-size: 9vw;
        padding-left: 7vw;
    }
    .header-dark {
        text-shadow: 0 0.3vw darkred, 0 0.45vw darkred, 0 0.6vw darkred;
    }
    .header-light {
        text-shadow: 0 0.3vw orange, 0 0.45vw orange, 0 0.6vw orange;
    }
}