<div class="cube-container">
    <div class="cube">
        <div class="side top">
            <img src="assets/images/angular.svg" alt="Angular">
        </div>
        <div class="side bottom"></div>
        <div class="side front">
            <img src="assets/images/typescript.svg" alt="Typescript">
        </div>
        <div class="side back">
            <img src="assets/images/java.svg" alt="Java">
        </div>
        <div class="side left">
            <img src="assets/images/nest.svg" alt="Nest">
        </div>
        <div class="side right">
            <img src="assets/images/python.svg" alt="Python">
        </div>
    </div>
</div>
