* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 1.75em;
}

.cube-container{
    min-width: 100vw;
    min-height: 100vh;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    perspective: 50%;
    z-index: -2;
}
  
.cube {
    transform-style: preserve-3d;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: rotateCube 10s linear infinite;
}

.side {
    height: 2em;
    width: 2em;
    background: #404040;
    position: absolute;
    top: 0;
    bottom: 0;
    box-shadow: 0 0 25px 5px  #808080  inset, 0 0 0 2em #404040 inset;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: var(--opacity);
    
    img {
        height: 75%;
        width: auto;
        opacity: 0.2;
    }
}

.front, .back, .top, .bottom, .right, .left {
    will-change: transform;
}

.front {
    transform: translateZ(calc(1em * var(--rotate)));
}
  
.back {
    transform: translateZ(calc(-1em * var(--rotate)));
}

.top {
    transform: translateY(-1em) rotateX(90deg) translateZ(calc(1em * var(--rotate) - 1em));
}

.bottom {
    transform: translateY(1em) rotateX(90deg) translateZ(calc(-1em * var(--rotate) + 1em));
}

.left {
    transform: translateX(-1em) rotateY(90deg) translateZ(calc(-1em * var(--rotate) + 1em));
}

.right {
    transform: translateX(1em) rotateY(90deg) translateZ(calc(1em * var(--rotate) - 1em));
}

@keyframes rotateCube {
    from {
        transform: rotateX(-20deg) rotateY(45deg);
    }
    to {
        transform: rotateX(-20deg) rotateY(405deg);
    }
}

@media (min-width: 576px) and (min-height: 576px) {
    .side {
        height: 4em;
        width: 4em;
        box-shadow: 0 0 25px 5px  #808080  inset, 0 0 0 4em #404040 inset;
    }

    .front {
        transform: translateZ(calc(2em * var(--rotate)));
    }
        
    .back {
        transform: translateZ(calc(-2em * var(--rotate)));
    }
    
    .top {
        transform: translateY(-2em) rotateX(90deg) translateZ(calc(2em * var(--rotate) - 2em));
    }
    
    .bottom {
        transform: translateY(2em) rotateX(90deg) translateZ(calc(-2em * var(--rotate) + 2em));
    }
    
    .left {
        transform: translateX(-2em) rotateY(90deg) translateZ(calc(-2em * var(--rotate) + 2em));
    }
    
    .right {
        transform: translateX(2em) rotateY(90deg) translateZ(calc(2em * var(--rotate) - 2em));
    }
}