@use '@angular/material' as mat;

:root {
  --background: #ffffff;
  --text: #000000;
  --text-reverse: #ffffff;
  --primary: mediumslateblue;
  --secondary: #181818;
}

html.dark-mode {
  --background: #181818;
  --text: #ffffff;
  --text-reverse: #000000;
  --primary: mediumslateblue;
  --secondary: #f5f5f5;
}

html {
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
  scroll-behavior: smooth;
  scrollbar-width: none;
  background-color: var(--background);
}

body {
  color-scheme: light;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html,
body {
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  /* Safari */
  -webkit-user-select: none;
  /* Firefox */
  -moz-user-select: none;
  /* IE10+/Edge */
  -ms-user-select: none;
  /* Standard */
  user-select: none;
  scrollbar-width: none;
  -ms-overflow-style: none;
  color: var(--text);
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
  display: none;
  scrollbar-width: none;
  -webkit-appearance: none;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

app-root {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: 'LemonMilk';
  src: url('assets/font/LemonMilk.otf') format('opentype');
}

.mixed-color {
  display: flex;
  font-family: 'LemonMilk';
  text-shadow: 0 0 10px rgba(124, 104, 238, 0.8);

  &>div {
    background: white;
    background-image: linear-gradient( 109.6deg,  rgba(112,246,255,0.33) 11.2%, rgba(221,108,241,0.26) 42%, rgba(229,106,253,0.71) 71.5%, rgba(123,183,253,1) 100.2% );
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    clip-path: inset(1px);
    z-index: 2;
  }
}

.contact-spacer {
  margin-bottom: 20vh;
}

@media (max-height: 576px) {
  .contact-spacer {
    margin-bottom: 40vh;
  }
}

@media (min-width: 768px) {
  .contact-spacer {
    margin-bottom: 40vh;
  }
}

@media (min-width: 992px) {
  .contact-spacer {
    margin-bottom: 20vh;
  }
}