body {
    cursor: url('assets/images/icons/custom-cursor.png'), auto;
    /* Safari */
    -webkit-user-select: none;
    /* Firefox */
    -moz-user-select: none;
    /* IE10+/Edge */
    -ms-user-select: none;
    /* Standard */
    user-select: none;
}

a {
    cursor: url('assets/images/icons/custom-hand.png'), auto;
}