.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 999999;
    color: white;
}

.background {
    position: absolute;
    top: 2rem;
    right: 2rem;
    width: 1rem;
    height: 1rem;
    overflow: hidden;
    border-radius: 50%;
    animation: circle forwards 4.5s;
    background-color: mediumslateblue;
}

ul {
    position: absolute;
    top: 0;
    left: 0;
}

@keyframes circle {
    to {
        scale: 10;
        width: 284vmax;
        height: 284vmax;
        top: -142vmax;
        left: -142vmax;
    }
}
