@if (show) {
    <div class="menu-container">
        <div class="background"></div>
        <ul>
            <li>
                <a data-blobity (click)="scroll('about')">About</a>
            </li>
            <li>
                <a data-blobity (click)="scroll('projects')">Projects</a>
            </li>
            <li>
                <a data-blobity (click)="scroll('contact')">Contact</a>
            </li>
            <li>
                <a data-blobity (click)="redirect()">Impressum</a>
            </li>
        </ul>
    </div>
}