.contact-container {
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background: white;
    background-image: linear-gradient( 109.6deg,  rgba(112,246,255,0.33) 11.2%, rgba(221,108,241,0.26) 42%, rgba(229,106,253,0.71) 71.5%, rgba(123,183,253,1) 100.2% );
    z-index: -2;
}

.visible-container {
    position: absolute;
    bottom: 0;
    height: 100vh;
    overflow: scroll;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100vw;
    flex: 1;
}

.graphic-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70vw;
}

.penguin {
    --skin: rgb(50, 50, 50);
    --belly: rgb(235, 235, 235);
    --beak: rgb(255, 165, 0);
    --blush: rgb(255, 192, 203);
    position: relative;
    display: block;
    width: 75%;
    aspect-ratio: 1/1;
    transform-origin: 0% 0%;

    * {
        position: absolute;
    }

    .ground {
        top: 80%;
        left: 10%;
        height: 15%;
        width: 80%;
        border-radius: 50%;
        opacity: 0.25;
        background: radial-gradient(circle, #808080, #404040);
        z-index: -3333;
    }

    .top {
        top: 40%;
        left: 23.5%;
        width: 53%;
        height: 45%;
        border-radius: 70% 70% 100% 100%;
        background: var(--skin);
        border: 2px solid black;

        .hand {
            width: 30%;
            height: 60%;
            z-index: -1;
        }
    
        .right-hand {
            top: 5%;
            left: 25%;
            border-radius: 30% 30% 120% 30%;
            transform: rotate(110deg);
            animation: wave 1.75s infinite linear;
            transform-origin: 0% 0%;
            background: var(--skin);
        }
          
        .left-hand {
            top: 0%;
            left: 75%;
            border-radius: 30% 30% 30% 120%;
            transform: rotate(-45deg);
            background: var(--skin);
        }
    
        .feet {
            top: 85%;
            width: 15%;
            height: 30%;
            border-radius: 50% 50% 50% 50%;
            border: 2px solid black;
            background: var(--beak);
            z-index: -2222;
        }
    
        .right-feet {
            left: 60%;
            transform: rotate(-80deg);
        }
          
        .left-feet {
            left: 25%;
            transform: rotate(80deg);
        }
    }

    .bottom {
        top: 10%;
        left: 25%;
        width: 50%;
        height: 45%;
        border-radius: 70% 70% 60% 60%;
        border: 2px solid black;
        background: var(--skin);

        .cheek {
            top: 15%;
            width: 60%;
            height: 70%;
            border-radius: 70% 70% 60% 60%;
            background: var(--belly);
        }
          
        .right-cheek {
            left: 35%;
        }
          
        .left-cheek {
            left: 5%;
        }

        .belly {
            top: 60%;
            left: 2.5%;
            width: 95%;
            height: 100%;
            border-radius: 120% 120% 100% 100%;
            background: var(--belly);
        }

        .eye {
            top: 45%;
            width: 15%;
            height: 17%;
            border-radius: 50%;
            background: black;
        
            .sparkle {
                top: 25%;
                left: 15%;
                width: 35%;
                height: 35%;
                border-radius: 50%;
                background: white;
            }
        }

        .right-eye {
            left: 60%;
        }
          
        .left-eye {
            left: 25%;
        }

        .blush {
            top: 65%;
            width: 15%;
            height: 10%;
            border-radius: 50%;
            background: var(--blush);
            opacity: 0.5;
        }
          
        .blush-right {
            left: 15%;
        }
          
        .blush-left {
            left: 70%;
        }

        .beak {
            background: var(--beak);
            height: 10%;
            border-radius: 50%;
            border: 1px solid black;
        }
          
        .beak-top {
            top: 60%;
            left: 40%;
            width: 20%;
            height: 10%;
        } 
          
        .beak-bottom {
            top: 65%;
            left: 42%;
            width: 16%;
        }
    }

    .circle {
        border-radius: 50%;
        border: 3px solid black;
        background: white;
    }

    .first-circle {
        top: 20%;
        left: 75%;
        width: 7.5%;
        height: 7.5%;
    }

    .second-circle {
        top: 13%;
        left: 84%;
        width: 10%;
        height: 10%;
    }

    .third-circle {
        top: -14%;
        left: 85%;
        width: 75%;
        height: 30%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        font-size: 6vw;
        font-family: HoneyBee;
    }

}

.data-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;

    .card-container {
        position: relative;
        display: block;
        width: 75%;
        transform-origin: 0% 0%;
    }
    
    mat-card {
        width: 100%;
        background: rgb(255, 255, 255, 0.6);
        align-items: center;
        display: flex;
        flex-direction: column;        
        padding: 4%;

        mat-card-header {
            text-align: center;
            padding-bottom: 4%;
        }

        mat-card-content {
            display: flex;
            justify-content: space-evenly;
            width: 90%;

            img {
                height: 3em;
                width: auto;
                z-index: 500;
            }
        }
    }
}

.copyright {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0.5em 1em;
}

@media (min-width: 768px) {
    mat-card-header {
        font-size: 3vw;
    }
}

@media (max-height: 150vw) {
    .graphic-container {
        padding-top: 15vh;
    }
}

@media (min-width: 120vh) {
    .content {
        flex-direction: row;
    }

    .graphic-container {
        width: 50vw;
        padding-top: 0;
    }

    .data-container {
        width: 50vw;
    }

    .card-container {
        aspect-ratio: 1/1;
    }

    mat-card {
        position: absolute;
        bottom: 10%;
        left: 0%;
    }
}
  
@keyframes wave {
    10% {
        transform: rotate(110deg);
    }
    50% {
        transform: rotate(130deg);
    }
    100% {
        transform: rotate(110deg);
    }
}
