@if (scrollY > (screenHeight * minScroll)) {
    <div class="contact-container">
        <div class="visible-container">
            <svg viewBox="0 0 500 45" preserveAspectRatio="xMinYMin meet" style="transform: translateY(-2px)">
                <path d="M0,25 C150,75 350,0 500,25 L500,00 L0,0 Z" style="stroke: none; fill: transparent"></path>
            </svg>
            <div class="content">
                <div class="graphic-container">
                    <div class="penguin">
                        <div class="ground"></div>
                        <div class="top">
                            <div class="hand right-hand"></div>
                            <div class="hand left-hand"></div>
                            <div class="feet right-feet"></div>
                            <div class="feet left-feet"></div>
                        </div>
                        <div class="bottom">
                            <div class="cheek right-cheek"></div>
                            <div class="cheek left-cheek"></div>
                            <div class="belly"></div>
                            <div class="eye right-eye">
                                <div class="sparkle"></div>
                            </div>
                            <div class="eye left-eye">
                                <div class="sparkle"></div>
                            </div>
                            <div class="blush blush-right"></div>
                            <div class="blush blush-left"></div>
                            <div class="beak beak-bottom"></div>
                            <div class="beak beak-top"></div>
                        </div>
                        <div class="circle first-circle"></div>
                        <div class="circle second-circle"></div>
                        <div class="circle third-circle">
                            Contact Me
                        </div>
                    </div>
                </div>
                <div class="data-container">
                    <div class="card-container">
                        <mat-card>
                            <mat-card-header>
                                Feel free to drop me a message anytime!
                            </mat-card-header>
                            <mat-card-content>
                                @for (platform of contact; track platform) {
                                    <img [src]="platform.image" [alt]="platform.name" (click)="redirect(platform.url, platform.target)" data-blobity>
                                } 
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">&copy; {{ year }} | Marcel Nöhre</div>
    </div>
}