@if (show) {
    <div class="menu-container">
        <div class="background"></div>
        <div class="menu" [@fadeIn]>
            <ng-container>
                <div class="item">
                    <a data-blobity (click)="scroll('about')">About</a>
                </div>
                <mat-divider></mat-divider>
            </ng-container>
            <ng-container>
                <div class="item">
                    <a data-blobity (click)="scroll('projects')">Projects</a>
                </div>
                <mat-divider></mat-divider>
            </ng-container>
            <ng-container>
                <div class="item">
                    <a data-blobity (click)="scroll('contact')">Contact</a>
                </div>
                <mat-divider></mat-divider>
            </ng-container>
            <ng-container>
                <div class="item">
                    <a data-blobity (click)="redirect()">Impressum</a>
                </div>
            </ng-container>
        </div>
        <div class="close">
            <button mat-icon-button (click)="close()" >
                <mat-icon>close</mat-icon>
            </button>
        </div>
    </div>
}