.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 1000;
    color: white;
}

.background {
    position: absolute;
    top: 2rem;
    right: 2rem;
    width: 1rem;
    height: 1rem;
    overflow: hidden;
    border-radius: 50%;
    animation: circle forwards 3s;
    background-color: slateblue;
    will-change: transform, width, height;
}

.close {
    display: flex;
    justify-content: right;
    padding: 1rem 0.25rem;
    opacity: 0;
    animation: appear 1s forwards 0.75s;
}

button {
    transform: scale(1.25);
}

.menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 0.5rem;
    overflow-y: scroll;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100svh;
}

.item {
    width: 100vw;
    text-align: center;
    font-family: LemonMilk;
    font-size: 2.5em;
}

a {
    text-decoration: underline;
}

mat-divider {
    background-color: white;
}

@media (min-width: 576px) {
    .close {
        padding: 1.5rem;
    }

    button {
        transform: scale(1.5);
    }
}

@keyframes circle {
    to {
        transform: scale(2);
        width: 250vmax;
        height: 250vmax;
    }
}

@keyframes appear {
    to {
        opacity: 1;
    }
}
