<div class="rl-overlay-container" style="color: white">
    <div class="landing-page">
        <div class="title-container">
            <div class="title">
                <div>R</div>
                <div>o</div>
                <div>c</div>
                <div>k</div>
                <div>e</div>
                <div>t</div>
                <div>&nbsp;</div>
                <div>L</div>
                <div>e</div>
                <div>a</div>
                <div>g</div>
                <div>u</div>
                <div>e</div>
                <div>&nbsp;</div>
                <div>O</div>
                <div>v</div>
                <div>e</div>
                <div>r</div>
                <div>l</div>
                <div>a</div>
                <div>y</div>
            </div>
        </div>
        <div class="information">
            <div class="source-code">
                <button mat-raised-button color="accent">View Source Code</button>
            </div>
            <div class="description">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla sed similique labore, ipsum dolor, voluptatum, reiciendis exercitationem distinctio perferendis eligendi expedita ducimus atque quos? Aliquam, sequi. Asperiores vel aspernatur officiis.
                </p>
            </div>
        </div>
    </div>
    <div class="game-view">
        <img src="assets/images/projects/placeholder.png" alt="Rocket League Overlay">
        <!-- TODO: add game scene with running overlay -->
    </div>
    <div class="features">
        <div class="game-overview">
            <img src="assets/images/projects/placeholder.png" alt="Game Overview">
            <!-- TODO: add screenshot of game overview -->
        </div>
        <div class="caster-view">
            <img src="assets/images/projects/placeholder.png" alt="Caster View">
            <!-- TODO: add screenshot of game overview -->
        </div>
    </div>
</div>