.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7.5vh;
    width: 100vw;
    background-color: var(--background);
    border-bottom: 1px solid var(--secondary);
}

.logo {
    font-size: 3vh;
    line-height: 7.5vh;
    padding-left: 0.5em;
    cursor: pointer;
}

.nav {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    inset: auto 1em auto auto;
    gap: 2em;

    div {
        padding: 0.25em;
        opacity: 0.5;
        transition: opacity 0.5s ease;
        color: var(--text);
        font-family: 'LemonMilk';
        font-size: 0.85em;
        text-decoration: none;
        cursor: pointer;
    }

    div:hover {
        opacity: 1;
        border-bottom: 2px solid var(--primary);
    }
}

.menu-item {
    font-family: 'LemonMilk';
    text-align: center;
    cursor: pointer;
}